Repository Bekaboo/dot: changes, and which pre-commit hooks are due for each by the changed paths.
All: .config/nvim, .config/fish, .bin

.pre-commit-config.yaml:

#vim:ft=yaml:sw=2:sts=2:

repos:
  # Prevent secret leak in commits
  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.24.2
    hooks:
      - id: gitleaks

  # Dotfiles repo can be considered as a monorepo, sub-configs can have their
  # own pre-commit configs in corresponding sub-directories
  #
  # Pre-commit config file in sub-dirs must not be named with
  # `.pre-commit-config`, else pre-commit will fail with
  # 'Your pre-commit configuration is unstaged.'
  - repo: local
    hooks:
      - id: .config/nvim
        name: Hooks for neovim config
        entry: sh -c 'cd .config/nvim && pre-commit run -c .pre-commit-config.local.yaml && cd -'
        language: system
        files: ^\.config/nvim/
        verbose: true

      - id: .config/fish
        name: Hooks for fish config
        entry: sh -c 'cd .config/fish && pre-commit run -c .pre-commit-config.local.yaml && cd -'
        language: system
        files: ^\.config/fish/
        verbose: true

      - id: .bin
        name: Hooks for sh scripts under .bin
        entry: sh -c 'cd .bin && pre-commit run -c .pre-commit-config.local.yaml && cd -'
        language: system
        files: ^\.bin/
        verbose: true

      # Lint and format shell scripts under home directory
      - id: sh-format
        name: Shell script format
        entry: shfmt -w
        language: system
        types: [shell]

      - id: sh-lint
        name: Shell script lint
        entry: shellcheck
        language: system
        types: [shell]

fix(bash): error sourcing `.bashrc` when `$DOT_DIR` is not set
  .bashrc
Due: none

chore(nvim): update plugins
  .config/nvim/nvim-pack-lock.json
Due: .config/nvim

chore(kde): update `kwinrc` & `kglobalshortcutsrc`
  .config/kglobalshortcutsrc
  .config/kwinrc
Due: none

chore(kde,x11): make `.xinitrc` posix compliant
  .xinitrc
Due: none

refactor(nvim): clean up `close_floats()`
  .config/nvim/lua/core/keymaps.lua
Due: .config/nvim

refactor(kde,krohnkite): make spiral layout the default
  .config/kwinrc
Due: none

style(nvim): format with stylua
  .config/nvim/after/ftplugin/markdown/codeblock.lua
Due: .config/nvim

chore(nvim): update nvim & plugins
  .config/nvim/nvim-pack-lock.json
  .config/nvim/nvim-version.txt
Due: .config/nvim

feat(nvim): enable experimental `vim._extui`
  .config/nvim/lua/core/keymaps.lua
  .config/nvim/lua/core/opts.lua
Due: .config/nvim

perf(nvim): defer loading `vim._extui`
  .config/nvim/lua/core/opts.lua
Due: .config/nvim

fix(nvim): should ignore extui message floating window on `q` or `<Esc>`
  .config/nvim/lua/core/keymaps.lua
Due: .config/nvim

refactor(nvim)!: don't keep 1st letter capitalization in buffer compl
  .config/nvim/lua/pack/specs/opt/blink-cmp.lua
Due: .config/nvim

revert: "feat(nvim): enable experimental `vim._extui`"
  .config/nvim/lua/core/opts.lua
Due: .config/nvim

fix(nvim): cater for opencode config change
  .config/nvim/lua/pack/specs/opt/opencode.lua
Due: .config/nvim

feat(fish): check and activate python virtual env after every cmd execution
  .config/fish/conf.d/25-python.fish
Due: .config/fish

feat(kde): ignore 'Add Bluetooth Device' windows
  .config/kwinrc
Due: none

refactor(nvim): simplify remote plugin loading in molten.nvim config
  .config/nvim/lua/pack/specs/opt/molten-nvim.lua
Due: .config/nvim

feat(nvim): add triggers 'fn' and 'sym' for '\operatorname' snippet
  .config/nvim/lua/pack/res/luasnip/snippets/tex.lua
Due: .config/nvim

fix(nvim): opencode context bar bg color
  .config/nvim/lua/pack/specs/opt/opencode.lua
Due: .config/nvim

refactor(bin,kde): increase bg check interval to 600s
  .bin/__checkbg
Due: .bin

refactor(nvim): tweak `hl-WinBar` & `hl-WinBarNC` in sonokai colorscheme
  .config/nvim/colors/sonokai.lua
Due: .config/nvim

fix(kde): window switched after copying to / pasting from system clipboard
  .config/kwinrc
Due: none

refactor(nvim): disable `<Esc>` (close window) in opencode windows
  .config/nvim/lua/pack/specs/opt/opencode.lua
Due: .config/nvim

fix(nvim): img-clip image paste path wrong in tex files
  .config/nvim/after/ftplugin/tex.lua
  .config/nvim/lua/core/autocmds.lua
Due: .config/nvim

fix(nvim): `utils.git.branch()` does not set buf-local `git_branch` var
  .config/nvim/lua/utils/git.lua
Due: .config/nvim

refactor(nvim)!: `utils.git.branch` returns `nil` when branch is invalid
  .config/nvim/lua/utils/git.lua
Due: .config/nvim

feat(nvim): `utils.git.branch` takes optional git args
  .config/nvim/lua/utils/git.lua
Due: .config/nvim

feat(nvim): fallback to dotfiles bare repo branch name in statusline
  .config/nvim/lua/plugin/statusline.lua
Due: .config/nvim

refactor(nvim)!: hide git dir in statusline
  .config/nvim/lua/plugin/statusline.lua
Due: .config/nvim

refactor(nvim): use `vim.trim()` for branch name in `utils.git.branch`
  .config/nvim/lua/utils/git.lua
Due: .config/nvim

refactor(nvim): clean up `utils.git.branch()`
  .config/nvim/lua/utils/git.lua
Due: .config/nvim

feat(nvim)!: `utils.git` and statusline git info overhaul
  .config/nvim/lua/plugin/statusline.lua
  .config/nvim/lua/utils/git.lua
Due: .config/nvim

fix(nvim)!: make `utils.git.*` sync to update statusline in time
  .config/nvim/lua/utils/git.lua
Due: .config/nvim

fix(nvim): remove extraneous args
  .config/nvim/lua/plugin/statusline.lua
Due: .config/nvim

fix(nvim): increase `cmdheight` in vscode to hide messages window
  .config/nvim/autoload/plugin/vscode.vim
Due: .config/nvim
