Repository Bekaboo/dot: changes, and which pre-commit hooks are due for each by the changed paths.
All: .config/nvim, .config/fish, .bin

.config/nvim:
  name: Hooks for neovim config
  entry: sh -c 'cd .config/nvim && pre-commit run -c .pre-commit-config.local.yaml && cd -'
  language: system
  verbose: true

.config/fish:
  name: Hooks for fish config
  entry: sh -c 'cd .config/fish && pre-commit run -c .pre-commit-config.local.yaml && cd -'
  language: system
  verbose: true

.bin:
  name: Hooks for sh scripts under .bin
  entry: sh -c 'cd .bin && pre-commit run -c .pre-commit-config.local.yaml && cd -'
  language: system
  verbose: true

fix(nvim): workaround treesitter async parsing error: invalid end col
  .config/nvim/lua/core/treesitter.lua
Due: .config/nvim

fix(nvim): restore last cursor pos correctly when target buf is not current buf
  .config/nvim/lua/core/autocmds.lua
Due: .config/nvim

fix(nvim): `tabstop` changed after opening lsp markdown hover window
  .config/nvim/lua/utils/load.lua
Due: .config/nvim

refactor(nvim): clean up oil drag & drop config
  .config/nvim/lua/pack/specs/start/oil.lua
Due: .config/nvim

fix(nvim): oil buf cursor not placed on the file we just left
  .config/nvim/lua/pack/specs/start/oil.lua
Due: .config/nvim

refactor(nvim): use `utils.hl.persist` to set oil hlgroups
  .config/nvim/lua/pack/specs/start/oil.lua
Due: .config/nvim

fix(nvim): add nil protection in oil config
  .config/nvim/lua/pack/specs/start/oil.lua
Due: .config/nvim

docs(nvim): fix file link in README
  .config/nvim/README.md
Due: .config/nvim

refactor(kde,krohnkite): remove floating rules; always tile windows
  .config/kwinrc
Due: none

feat(nvim): surround text with bold markers in markdown
  .config/nvim/lua/pack/specs/opt/nvim-surround.lua
Due: .config/nvim

feat(vim,nvim)!: use `<C-f>` to open cmdwin when at end of cmdline
  .config/nvim/lua/plugin/readline.lua
  .vimrc
Due: .config/nvim

refactor(kde,krohnkite): change shortcuts for previous/next layout
  .config/kglobalshortcutsrc
Due: none

fix(nvim): opencode blink.cmp integration
  .config/nvim/lua/pack/specs/opt/opencode.lua
Due: .config/nvim

refactor(nvim): add fzf-lua as optional dep for opencode.nvim
  .config/nvim/lua/pack/specs/opt/opencode.lua
Due: .config/nvim

fix(kde,krohnkite): don't automatically float unfitted windows
  .config/kwinrc
Due: none

feat(kde,krohnkite): open floating windows by default
  .config/kwinrc
Due: none

fix(bin): `ex` not flatten extracted dir if it does not contain hidden files/dirs
  .bin/ex
Due: .bin

fix(bin): print err msg to stderr in `ex`
  .bin/ex
Due: .bin

fix(nvim)!: 'outdegree' wrongly expanded by `\tilde` snippet
  .config/nvim/lua/pack/ftconfigs/luasnip/snippets/tex.lua
Due: .config/nvim

fix(nvim): vim regex syntax not applied in tex files after re-editing with `:e`
  .config/nvim/lua/pack/specs/opt/vimtex.lua
Due: .config/nvim

feat(nvim): add triggers for tex surrounding brackets
  .config/nvim/lua/pack/ftconfigs/luasnip/snippets/tex.lua
Due: .config/nvim

fix(nvim): blink.cmp bring cursor to compl buf in vscode
  .config/nvim/lua/pack/specs/opt/blink-cmp.lua
Due: .config/nvim

refactor(vscode)!: use `Ctrl/Alt-f`/`Right` to accept inline suggestions
  .config/Code/User/keybindings.json
Due: none

feat(nvim): allow loading external changes in jupyter notebooks with `:e`
  .config/nvim/lua/plugin/jupytext.lua
  .config/nvim/plugin/_load.lua
Due: .config/nvim

feat(nvim): notify plugin build success
  .config/nvim/lua/utils/pack.lua
Due: .config/nvim

feat(nvim): make gitsigns and fugitive aware of dotfiles bare repo
  .config/nvim/lua/pack/specs/opt/gitsigns.lua
  .config/nvim/lua/pack/specs/opt/vim-fugitive.lua
Due: .config/nvim

refactor(bash,fish,nvim)!: use `$DOT_DIR` to detect dotfiles bare repo
  .bashrc
  .config/fish/functions/dot.fish
  .config/nvim/README.md
  .config/nvim/lua/pack/specs/opt/gitsigns.lua
  .config/nvim/lua/pack/specs/opt/vim-fugitive.lua
  README.md
Due: .config/nvim, .config/fish

fix(nvim): wrap `FugitiveDetect()` in `nvim_buf_call()`
  .config/nvim/lua/pack/specs/opt/vim-fugitive.lua
Due: .config/nvim

fix(nvim): cursor pos outside buffer when jumping to last pos
  .config/nvim/lua/core/autocmds.lua
Due: .config/nvim

feat(nvim): create `:Dot` and friends to manage dotfiles using fugitive
  .config/nvim/lua/pack/specs/opt/vim-fugitive.lua
Due: .config/nvim

fix(bash,fish,nvim): error staging dotfiles with fugitive in nvim
  .bashrc
  .config/fish/functions/dot.fish
Due: .config/fish

chore(nvim): add comments to fugitive config
  .config/nvim/lua/pack/specs/opt/vim-fugitive.lua
Due: .config/nvim

feat(nvim): add command `:D` to manage dotfiles
  .config/nvim/lua/pack/specs/opt/vim-fugitive.lua
Due: .config/nvim

fix(nvim): modifiers like `:tab ...` not working with `:Dot`
  .config/nvim/lua/pack/specs/opt/vim-fugitive.lua
Due: .config/nvim

fix(nvim): `b:git_dir` set to dotfiles bare repo in first empty buf
  .config/nvim/lua/pack/specs/opt/vim-fugitive.lua
Due: .config/nvim

fix(nvim): remove buggy git-conflict.nvim (calls removed `vim.diagnostic.disable`)
  .config/nvim/README.md
  .config/nvim/lua/pack/specs/opt/git-conflict.lua
Due: .config/nvim

refactor(git): use nvim 3-way vertical diff
  .gitconfig
Due: none

fix(nvim): cyclic dependency between nvim-dap and nvim-dap-ui
  .config/nvim/lua/pack/specs/opt/nvim-dap.lua
  .config/nvim/lua/utils/pack.lua
Due: .config/nvim

fix(bin): `nvim-socks` blocks forever
  .bin/setbg
  .bin/setcolor
Due: .bin

fix(nvim): vimdoc delimiters invisible
  .config/nvim/colors/cockatoo.lua
  .config/nvim/colors/macro.lua
  .config/nvim/colors/nano.lua
  .config/nvim/colors/sonokai.lua
  .config/nvim/colors/stata.lua
Due: .config/nvim

Path conditions:
  .config/nvim: any of: ^\.config/nvim/
  .config/fish: any of: ^\.config/fish/
  .bin: any of: ^\.bin/
