Repository Bekaboo/dot: changes, and which pre-commit hooks are due for each by the changed paths.
All: .config/nvim, .config/fish, .bin

.pre-commit-config.yaml:

#vim:ft=yaml:sw=2:sts=2:

repos:
  # Prevent secret leak in commits
  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.24.2
    hooks:
      - id: gitleaks

  # Dotfiles repo can be considered as a monorepo, sub-configs can have their
  # own pre-commit configs in corresponding sub-directories
  #
  # Pre-commit config file in sub-dirs must not be named with
  # `.pre-commit-config`, else pre-commit will fail with
  # 'Your pre-commit configuration is unstaged.'
  - repo: local
    hooks:
      - id: .config/nvim
        name: Hooks for neovim config
        entry: sh -c 'cd .config/nvim && pre-commit run -c .pre-commit-config.local.yaml && cd -'
        language: system
        files: ^\.config/nvim/
        verbose: true

      - id: .config/fish
        name: Hooks for fish config
        entry: sh -c 'cd .config/fish && pre-commit run -c .pre-commit-config.local.yaml && cd -'
        language: system
        files: ^\.config/fish/
        verbose: true

      - id: .bin
        name: Hooks for sh scripts under .bin
        entry: sh -c 'cd .bin && pre-commit run -c .pre-commit-config.local.yaml && cd -'
        language: system
        files: ^\.bin/
        verbose: true

      # Lint and format shell scripts under home directory
      - id: sh-format
        name: Shell script format
        entry: shfmt -w
        language: system
        types: [shell]

      - id: sh-lint
        name: Shell script lint
        entry: shellcheck
        language: system
        types: [shell]

feat(nvim): add `for i` and `for range` snippets for sh & fish
  .config/nvim/lua/my/pack/res/luasnip/snippets/fish.lua
  .config/nvim/lua/my/pack/res/luasnip/snippets/sh.lua
Due: .config/nvim

feat(nvim): add `for i` and `for range` snippets for vimscript
  .config/nvim/lua/my/pack/res/luasnip/snippets/vim.lua
Due: .config/nvim

feat(nvim): add `for _` snippets
  .config/nvim/lua/my/pack/res/luasnip/snippets/c.lua
  .config/nvim/lua/my/pack/res/luasnip/snippets/fish.lua
  .config/nvim/lua/my/pack/res/luasnip/snippets/go.lua
  .config/nvim/lua/my/pack/res/luasnip/snippets/java.lua
  .config/nvim/lua/my/pack/res/luasnip/snippets/javascript.lua
  .config/nvim/lua/my/pack/res/luasnip/snippets/lua.lua
  .config/nvim/lua/my/pack/res/luasnip/snippets/python.lua
  .config/nvim/lua/my/pack/res/luasnip/snippets/sh.lua
Due: .config/nvim

chore(nvim): update plugins
  .config/nvim/nvim-pack-lock.json
Due: .config/nvim

revert: "feat(yay): always show diff by default"
  .config/yay/config.json
Due: none

feat(kde,krohnkite): don't tile firefox picture-in-picture windows
  .config/kwinrc
Due: none

fix(kde): don't use Ctrl+F12 to show desktop (conflict with blender)
  .config/kglobalshortcutsrc
Due: none

fix(nvim): add missing `vscode.vim` and `cmd.vim` under `autoload` dir
  .config/nvim/autoload/my/plugin/vscode.vim
  .config/nvim/autoload/my/utils/cmd.vim
Due: .config/nvim

feat(nvim): print full module path in warning msgs
  .config/nvim/lua/my/plugin/jupytext.lua
  .config/nvim/lua/my/plugin/session.lua
  .config/nvim/lua/my/plugin/term.lua
  .config/nvim/lua/my/utils/pack.lua
  .config/nvim/lua/my/utils/test.lua
  .config/nvim/lua/my/utils/web.lua
Due: .config/nvim

feat(nvim): use `colorcolumn=89` for python code
  .config/nvim/after/ftplugin/python.lua
Due: .config/nvim

feat(nvim): add `self` as first arg in classes for python func snippet
  .config/nvim/lua/my/pack/res/luasnip/snippets/python.lua
Due: .config/nvim

feat(nvim): add projection rules for python test files in same dir
  .config/nvim/lua/my/pack/res/vim-projectionist/projections/python.lua
Due: .config/nvim

refactor(nvim): rename custom projection transformers
  .config/nvim/lua/my/pack/res/vim-projectionist/projections/lua.lua
  .config/nvim/lua/my/pack/res/vim-projectionist/projections/python.lua
  .config/nvim/lua/my/pack/specs/opt/vim-projectionist.lua
Due: .config/nvim

feat(kde,krohnkite): don't tile emoji selector
  .config/kwinrc
Due: none

chore(kde,klassy): update klassy
  .config/klassy/klassyrc
Due: none

chore(kde): update `kglobalshortcutsrc`
  .config/kglobalshortcutsrc
Due: none

fix(nvim): treesitter keymaps e.g. `]]`, `]m` overridden by ftplugins
  .config/nvim/lua/my/pack/specs/opt/nvim-treesitter-textobjects.lua
Due: .config/nvim

fix(nvim): math snippets not working in markdown
  .config/nvim/lua/my/pack/res/luasnip/snippets/markdown.lua
Due: .config/nvim

fix(nvim): error (not setting `termguicolors`) from nvim-colorizer
  .config/nvim/lua/my/pack/specs/opt/nvim-colorizer.lua
Due: .config/nvim

chore(kde): update `kwinrc`
  .config/kwinrc
Due: none

refactor(nvim): simplity `my.utils.lsp.range_contains()`
  .config/nvim/lua/my/utils/lsp.lua
Due: .config/nvim

chore(nvim): fix typing (merge `my.lsp.config` & `my.lsp.client_config`)
  .config/nvim/lua/my/utils/lsp.lua
Due: .config/nvim

refactor(nvim): simplity `my.utils.lsp.range_contains_cursor()`
  .config/nvim/lua/my/utils/lsp.lua
Due: .config/nvim

fix(bin): `setcolor` does not change alacritty theme
  .bin/setcolor
Due: .bin

chore(git,klassy,kde): apply filter to `klassyrc`
  .gitattributes
  .gitconfig
Due: none

refactor(nvim)!: don't use `<M-,/.>` or `<C-w>,/.` to resize windows
  .config/nvim/lua/my/core/keymaps.lua
  .config/nvim/lua/my/plugin/tmux.lua
Due: .config/nvim

chore(nvim): update plugins; pin blink.cmp to v1
  .config/nvim/lua/my/pack/specs/opt/blink-cmp.lua
  .config/nvim/nvim-pack-lock.json
Due: .config/nvim

feat(opencode): use minimax-m2.5-free model by default
  .config/opencode/opencode.json
Due: none

feat(sh,bash,fish): add portable apps under `~/Apps` to `$PATH`
  .config/fish/conf.d/00-login.fish
  .profile
Due: .config/fish

fix(nvim): compat for macOS `find`
  .config/nvim/lua/my/pack/specs/start/fzf-lua.lua
Due: .config/nvim

fix(bin): `__checkbg` should not try to change bg with locked screen
  .bin/__checkbg
Due: .bin

fix(nvim): `my#plugin#vscode#setup()` does not exist
  .config/nvim/autoload/my/plugin/vscode.vim
Due: .config/nvim

feat(macos)!: don't swap option with command
  .bin/macos-keymap
Due: .bin
