Repository Bekaboo/dot: changes, and which pre-commit hooks are due for each by the changed paths.
All: .config/nvim, .config/fish, .bin

.pre-commit-config.yaml:

#vim:ft=yaml:sw=2:sts=2:

repos:
  # Prevent secret leak in commits
  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.24.2
    hooks:
      - id: gitleaks

  # Dotfiles repo can be considered as a monorepo, sub-configs can have their
  # own pre-commit configs in corresponding sub-directories
  #
  # Pre-commit config file in sub-dirs must not be named with
  # `.pre-commit-config`, else pre-commit will fail with
  # 'Your pre-commit configuration is unstaged.'
  - repo: local
    hooks:
      - id: .config/nvim
        name: Hooks for neovim config
        entry: sh -c 'cd .config/nvim && pre-commit run -c .pre-commit-config.local.yaml && cd -'
        language: system
        files: ^\.config/nvim/
        verbose: true

      - id: .config/fish
        name: Hooks for fish config
        entry: sh -c 'cd .config/fish && pre-commit run -c .pre-commit-config.local.yaml && cd -'
        language: system
        files: ^\.config/fish/
        verbose: true

      - id: .bin
        name: Hooks for sh scripts under .bin
        entry: sh -c 'cd .bin && pre-commit run -c .pre-commit-config.local.yaml && cd -'
        language: system
        files: ^\.bin/
        verbose: true

      # Lint and format shell scripts under home directory
      - id: sh-format
        name: Shell script format
        entry: shfmt -w
        language: system
        types: [shell]

      - id: sh-lint
        name: Shell script lint
        entry: shellcheck
        language: system
        types: [shell]

feat(nvim): add `try...catch` snippet for java
  .config/nvim/lua/pack/ftconfigs/luasnip/snippets/java.lua
Due: .config/nvim

refactor(nvim): evenly distribute startup hints
  .config/nvim/plugin/intro.lua
Due: .config/nvim

chore(nvim): update nvim
  .config/nvim/lua/core/treesitter.lua
  .config/nvim/nvim-version.txt
Due: .config/nvim

refactor(nvim): make macro colorscheme less colorful
  .config/nvim/colors/macro.lua
Due: .config/nvim

feat(nvim): improve fugitive heading hl in macro colorscheme
  .config/nvim/colors/macro.lua
Due: .config/nvim

fix(nvim): fugitive git dir not detected in initial oil buffer
  .config/nvim/lua/pack/specs/opt/vim-fugitive.lua
Due: .config/nvim

fix(nvim): fugitive git dir not updated after changing dir in oil bufs
  .config/nvim/lua/pack/specs/opt/vim-fugitive.lua
Due: .config/nvim

fix(nvim): error calling nvim-web-devicons funcs in dependent plugins
  .config/nvim/init.lua
Due: .config/nvim

refactor(bin,nvim): set default colorscheme to 'nano'
  .bin/setcolor
  .config/nvim/lua/core/autocmds.lua
Due: .config/nvim, .bin

feat(bin): add script `showcolors` to show term 16 colors
  .bin/showcolors
Due: .bin

fix(nvim,alacritty,kitty,foot,wezterm,konsole,termux): tweak nano theme to distinguish termux pane borders
  .config/alacritty/themes/nano-dark.toml
  .config/alacritty/themes/nano-light.toml
  .config/foot/themes/nano-dark.ini
  .config/foot/themes/nano-light.ini
  .config/kitty/themes/nano-dark.conf
  .config/kitty/themes/nano-light.conf
  .config/nvim/colors/nano.lua
  .config/wezterm/colors/nano-dark.toml
  .config/wezterm/colors/nano-light.toml
  .local/share/konsole/Nano Dark.colorscheme
  .local/share/konsole/Nano Light.colorscheme
  .termux/colors/nano-dark.properties
  .termux/colors/nano-light.properties
Due: .config/nvim

fix(sh,bash,fish): don't show greeting everytime in login shell (can confuse claude code, etc.)
  .config/fish/functions/fish_greeting.fish
  .profile
Due: .config/fish

fix(nvim): newly created `.git` dir not detected in existing bufs
  .config/nvim/lua/pack/specs/opt/vim-fugitive.lua
Due: .config/nvim

fix(nvim): 'E5560: nvim_echo must not be called in a fast event context'
  .config/nvim/lua/pack/specs/start/oil.lua
Due: .config/nvim

fix(nvim): newly created root markers not detected in `auto_cwd` augroup
  .config/nvim/lua/core/autocmds.lua
Due: .config/nvim

refactor(bash): remove unused 'vs=vim-startuptime' alias
  .bashrc
Due: none

feat(bash,fish): add alias/abbreviation for command 'kubectl'
  .bashrc
  .config/fish/conf.d/abbr.fish
Due: .config/fish

fix(nvim): `git_dir` wrongly set to dotfiles dir in fugitive git log bufs
  .config/nvim/lua/pack/specs/opt/vim-fugitive.lua
Due: .config/nvim

refactor(tmux): use `prefix + Escape` to force send `Escape` to app
  .config/tmux/tmux.conf
Due: none

feat(vim,nvim): use `<C-\><Esc>` to force-send `<Esc>` to terminal
  .config/nvim/lua/plugin/term.lua
  .vimrc
Due: .config/nvim

feat(git): exclude `.claude` dirs
  .config/git/ignore
Due: none

chore(nvim): shorten opencode toggle keymap desc
  .config/nvim/lua/pack/specs/opt/opencode.lua
Due: .config/nvim

feat(nvim): load all plugin specs on fresh install
  .config/nvim/lua/core/pack.lua
Due: .config/nvim

chore(nvim): update nvim
  .config/nvim/nvim-version.txt
Due: .config/nvim

feat(git): add aliases 'bn' and 'cob' to create new branches
  .gitconfig
Due: none

fix(nvim): `@lsp.type.method` linked to unexisted `@method`
  .config/nvim/colors/sonokai.lua
Due: .config/nvim

fix(nvim): 'date' snippet not expanded with comment ts parser
  .config/nvim/lua/pack/ftconfigs/luasnip/snippets/all.lua
Due: .config/nvim

fix(nvim): special comment and list checkbox hlgroups
  .config/nvim/colors/cockatoo.lua
  .config/nvim/colors/macro.lua
  .config/nvim/colors/nano.lua
  .config/nvim/colors/sonokai.lua
  .config/nvim/colors/stata.lua
Due: .config/nvim

refactor(nvim)!: rename 'date' snippet trigger to 'now'
  .config/nvim/lua/pack/ftconfigs/luasnip/snippets/all.lua
Due: .config/nvim

refactor(nvim): by default show hidden files in oil bufs
  .config/nvim/lua/pack/specs/start/oil.lua
Due: .config/nvim

feat(nvim): add tex math snippet for mod
  .config/nvim/lua/pack/ftconfigs/luasnip/snippets/tex.lua
Due: .config/nvim

feat(nvim): add snippet for latex coprime and perpendicular symbol
  .config/nvim/lua/pack/ftconfigs/luasnip/snippets/tex.lua
Due: .config/nvim

chore(kde,krohnkite): update `kglobalshortcutsrc`
  .config/kglobalshortcutsrc
Due: none

feat(git): add alias 'bla' to list all branches
  .gitconfig
Due: none

feat(nvim): add now variant for 'now' snippet
  .config/nvim/lua/pack/ftconfigs/luasnip/snippets/all.lua
Due: .config/nvim

feat(bash,fish): don't print `ls` output automatically when output is empty
  .bashrc
  .config/fish/conf.d/autols.fish
Due: .config/fish

feat(nvim): add sh & fish snippet to get path base & extension
  .config/nvim/lua/pack/ftconfigs/luasnip/snippets/fish.lua
  .config/nvim/lua/pack/ftconfigs/luasnip/snippets/sh.lua
Due: .config/nvim

fix(nvim): vimtex error: 'E118: No such variable: b:current_syntax'
  .config/nvim/lua/pack/specs/opt/vimtex.lua
Due: .config/nvim

feat(nvim): detect vimtex pdf viewer based on system default pdf viewer
  .config/nvim/lua/pack/specs/opt/vimtex.lua
Due: .config/nvim

fix(nvim): don't capitalize markdown title after apostrophe
  .config/nvim/after/ftplugin/markdown/title.lua
Due: .config/nvim
