Repository Bekaboo/dot: changes, and which pre-commit hooks are due for each by the changed paths.
All: .config/nvim, .config/fish, .bin

.pre-commit-config.yaml:

#vim:ft=yaml:sw=2:sts=2:

repos:
  # Prevent secret leak in commits
  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.24.2
    hooks:
      - id: gitleaks

  # Dotfiles repo can be considered as a monorepo, sub-configs can have their
  # own pre-commit configs in corresponding sub-directories
  #
  # Pre-commit config file in sub-dirs must not be named with
  # `.pre-commit-config`, else pre-commit will fail with
  # 'Your pre-commit configuration is unstaged.'
  - repo: local
    hooks:
      - id: .config/nvim
        name: Hooks for neovim config
        entry: sh -c 'cd .config/nvim && pre-commit run -c .pre-commit-config.local.yaml && cd -'
        language: system
        files: ^\.config/nvim/
        verbose: true

      - id: .config/fish
        name: Hooks for fish config
        entry: sh -c 'cd .config/fish && pre-commit run -c .pre-commit-config.local.yaml && cd -'
        language: system
        files: ^\.config/fish/
        verbose: true

      - id: .bin
        name: Hooks for sh scripts under .bin
        entry: sh -c 'cd .bin && pre-commit run -c .pre-commit-config.local.yaml && cd -'
        language: system
        files: ^\.bin/
        verbose: true

      # Lint and format shell scripts under home directory
      - id: sh-format
        name: Shell script format
        entry: shfmt -w
        language: system
        types: [shell]

      - id: sh-lint
        name: Shell script lint
        entry: shellcheck
        language: system
        types: [shell]

feat(nvim): add which-key group hints for `gq` and `gr`
  .config/nvim/lua/pack/specs/opt/which-key.lua
Due: .config/nvim

feat(kde): add wallpaper 'Nord Mountains'
  .local/share/wallpapers/Nord Mountains/contents/images/3840x2160.webp
  .local/share/wallpapers/Nord Mountains/metadata.desktop
  .local/share/wallpapers/Nord Mountains/metadata.json
Due: none

refactor(nvim)!: change general log snippet trigger from 'lg' to 'll'
  .config/nvim/lua/pack/res/luasnip/snippets/go.lua
  .config/nvim/lua/pack/res/luasnip/snippets/java.lua
  .config/nvim/lua/pack/res/luasnip/snippets/python.lua
  .config/nvim/lua/pack/res/luasnip/snippets/tex.lua
Due: .config/nvim

fix(nvim): plugin colorcolumn hl not updated when bg changes
  .config/nvim/plugin/colorcolumn.lua
Due: .config/nvim

feat(nvim): add '\itemize' and '\enumerate' tex snippets
  .config/nvim/lua/pack/res/luasnip/snippets/tex.lua
Due: .config/nvim

feat(bin): ignore dirs e.g. `__MACOSX` in `ex` flattening extracted dirs
  .bin/ex
Due: .bin

fix(bin,fish): raw bytes `__fish_reload_theme` causes error in wsl
  .bin/setbg
  .bin/setcolor
Due: .bin

fix(nvim): metals completion etc. not working, switching to nvim-metals
  .config/nvim/after/lsp/metals.lua
  .config/nvim/lua/pack/specs/opt/nvim-metals.lua
  .config/nvim/nvim-pack-lock.json
Due: .config/nvim

feat(nvim): show non-standard git dir in statusline
  .config/nvim/lua/plugin/statusline.lua
Due: .config/nvim

refactor(nvim): remove `utils.hl.set_default` (use `utils.hl.set`)
  .config/nvim/after/ftplugin/markdown/codeblock.lua
  .config/nvim/lua/core/autocmds.lua
  .config/nvim/lua/pack/specs/opt/opencode.lua
  .config/nvim/lua/pack/specs/start/fzf-lua.lua
  .config/nvim/lua/utils/hl.lua
Due: .config/nvim

refactor(tmux)!: use `M-C-...` not `M-S-...` for tmux root bindings
  .config/tmux/tmux.conf
Due: none

refactor(nvim): follow fzf default gutter and bg settings from shell
  .config/nvim/lua/pack/specs/start/fzf-lua.lua
Due: .config/nvim

feat(kde,krohnkite): ignore thunderbird 'Reminders' popup windows
  .config/kwinrc
Due: none

feat(fish): add keymap settings to `fish-ai.ini`
  .config/fish-ai.ini
Due: none

feat(tmux): add ssh as 'vim' app to allow `M-` bindings in vim over ssh
  .config/tmux/tmux.conf
Due: none

fix(konsole): onedark light profile settings
  .local/share/konsole/Onedark Light.profile
Due: none

fix(fish): fzf custom bindings undefined after loading plugin
  .config/fish/conf.d/25-abbr.fish
  .config/fish/conf.d/25-autols.fish
  .config/fish/conf.d/25-bat.fish
  .config/fish/conf.d/25-fish-ai.fish
  .config/fish/conf.d/25-fzf-envs.fish
  .config/fish/conf.d/25-osc133.fish
  .config/fish/conf.d/25-postexec-newline.fish
  .config/fish/conf.d/25-pyenv.fish
  .config/fish/conf.d/25-python.fish
  .config/fish/conf.d/25-rg.fish
  .config/fish/conf.d/25-theme.fish
  .config/fish/conf.d/25-zoxide.fish
  .config/fish/conf.d/50-fzf.fish
  .config/fish/conf.d/50-plugins.fish
  .config/fish/conf.d/51-fzf-bindings.fish
Due: .config/fish

fix(nvim): prefer snippet over tabout jump with direction differs
  .config/nvim/lua/pack/specs/opt/luasnip.lua
Due: .config/nvim

refactor(nvim)!: remove unused global vars
  .config/nvim/lua/core/opts.lua
Due: .config/nvim

fix(nvim): should set statusline hl with `default=true`
  .config/nvim/lua/plugin/statusline.lua
Due: .config/nvim

feat(nvim): add block comment pair `/**/` for javascript and typescript
  .config/nvim/lua/pack/specs/opt/ultimate-autopair.lua
Due: .config/nvim

refactor(nvim,vscode): cleanup vscode-neovim settings
  .config/nvim/autoload/plugin/vscode.vim
  .config/nvim/lua/utils/lsp.lua
Due: .config/nvim

feat(kde,krohnkite): ignore windows with title containing 'Settings'
  .config/kwinrc
Due: none

feat(nvim): add trig '**' for '\textbf{}' tex snippet
  .config/nvim/lua/pack/res/luasnip/snippets/tex.lua
Due: .config/nvim

revert: "feat(kde,krohnkite): open floating windows by default"
  .config/kwinrc
Due: none

refactor(kde): set 'Nord Mountains' as default wallpaper for onedark theme
  .bin/setcolor
Due: .bin

refactor(kde,krohnkite): set float window initial height & width to 65%
  .config/kwinrc
Due: none

refactor(konsole): set blur and transparency for onedark colorscheme
  .local/share/konsole/Onedark Dark.colorscheme
  .local/share/konsole/Onedark Light.colorscheme
Due: none

feat(kde): enable forceblur kwin effect
  .config/kwinrc
Due: none

fix(bin): should use `setcolor.lock` for `setcolor` script
  .bin/setcolor
Due: .bin

fix(bin): `getbg`/`getcolor` wrong output with 'onedark' colorscheme
  .bin/getbg
  .bin/getcolor
Due: .bin

fix(nvim): luasnip snippet jump & tabout jump coordination
  .config/nvim/lua/pack/specs/opt/luasnip.lua
Due: .config/nvim

feat(nvim): capture go test `t.Errorf()` errors
  .config/nvim/compiler/gotest.vim
Due: .config/nvim

refactor(nvim): always show git dir name in statusline
  .config/nvim/lua/plugin/statusline.lua
Due: .config/nvim

chore(nvim): add typing for `get_current_snip_dest()`
  .config/nvim/lua/pack/specs/opt/luasnip.lua
Due: .config/nvim

chore(nvim): update plugins
  .config/nvim/nvim-pack-lock.json
Due: .config/nvim

fix(nvim): img-clip.nvim not properly loaded
  .config/nvim/lua/pack/specs/opt/img-clip.lua
  .config/nvim/lua/utils/pack.lua
Due: .config/nvim

refactor(tmux)!: don't set `pane-border-status` globally
  .config/tmux/tmux.conf
Due: none

fix(nvim): colorscheme reset to 'onedark' in sh scripts that calls nvim
  .config/nvim/lua/pack/specs/start/onedark.lua
Due: .config/nvim
