Repository Bekaboo/dot: changes, and which pre-commit hooks are due for each by the changed paths.
All: .config/nvim, .config/fish, .bin

.config/nvim:
  name: Hooks for neovim config
  entry: sh -c 'cd .config/nvim && pre-commit run -c .pre-commit-config.local.yaml && cd -'
  language: system
  verbose: true

.config/fish:
  name: Hooks for fish config
  entry: sh -c 'cd .config/fish && pre-commit run -c .pre-commit-config.local.yaml && cd -'
  language: system
  verbose: true

.bin:
  name: Hooks for sh scripts under .bin
  entry: sh -c 'cd .bin && pre-commit run -c .pre-commit-config.local.yaml && cd -'
  language: system
  verbose: true

feat(nvim): add quit hint message to intro plugin
  .config/nvim/plugin/intro.lua
Due: .config/nvim

docs(nvim): add comments about winbar `setup()` function
  .config/nvim/lua/plugin/winbar/init.lua
Due: .config/nvim

fix(sh,fish): should not run `proot-distro login` if already inside proot
  .config/fish/conf.d/00-login.fish
  .profile
Due: .config/fish

feat(nvim): add convert case functions to `utils.str`
  .config/nvim/lua/plugin/lsp-commands.lua
  .config/nvim/lua/plugin/statusline.lua
  .config/nvim/lua/plugin/winbar/sources/treesitter.lua
  .config/nvim/lua/utils/str.lua
Due: .config/nvim

fix(nvim): set `hl-Idenfier` to highlight variables in Python f-strings
  .config/nvim/colors/cockatoo.lua
  .config/nvim/colors/macro.lua
  .config/nvim/colors/nano.lua
  .config/nvim/colors/sonokai.lua
  .config/nvim/colors/stata.lua
Due: .config/nvim

chore(nvim): update plugins
  .config/nvim/package-lock.json
Due: .config/nvim

refactor(nvim): remove '[LSP]' prefix in diagnostic messages
  .config/nvim/lua/core/diagnostic.lua
Due: .config/nvim

refactor(nvim): always show diagnostic yank msg
  .config/nvim/lua/core/diagnostic.lua
Due: .config/nvim

refactor(nvim): remove unecessary winbar update checks
  .config/nvim/lua/plugin/winbar/init.lua
Due: .config/nvim

fix(nvim): cannot undo changes made after tabout
  .config/nvim/lua/plugin/tabout.lua
Due: .config/nvim

refactor(nvim): use `vim.keycode` to translate keycodes
  .config/nvim/lua/plugin/tabout.lua
Due: .config/nvim

refactor(vim,nvim)!: remove `gt`/`gT` keymaps (don't create new tabpages)
  .config/nvim/lua/core/keymaps.lua
  .vimrc
Due: .config/nvim

feat(nvim): install magenta.nvim
  .config/nvim/lua/configs/magenta.lua
  .config/nvim/lua/plugins/tools.lua
Due: .config/nvim

refactor(nvim): remove `utils.ts.hl_is_active`
  .config/nvim/lua/core/autocmds.lua
  .config/nvim/lua/utils/ts.lua
Due: .config/nvim

refactor(nvim): remove unecessary call to `nvim-treesitter.install()`
  .config/nvim/lua/configs/nvim-treesitter.lua
  .config/nvim/lua/plugins/treesitter.lua
Due: .config/nvim

refactor(bin): remove unused `bak` script
  .bin/bak
Due: .bin

feat(aider): use gpt-5 and anthropic opus model
  .aider.conf.yml
Due: none

refactor(kde): adjust night light temperature
  .config/kwinrc
Due: none

feat(nvim): detect `vim.xxx` to check if a lua file is for nvim
  .config/nvim/lua/snippets/lua.lua
Due: .config/nvim

refactor(nvim): don't remap `hl-Normal` to `hl-NormalSpecial` if already taken
  .config/nvim/lua/core/autocmds.lua
Due: .config/nvim

feat(opencode): add opencode config
  .config/opencode/opencode.json
Due: none

feat(nvim): add desc for nvim-textobjects keymaps
  .config/nvim/lua/configs/nvim-treesitter-textobjects.lua
Due: .config/nvim

feat(nvim)!: switch to opencode.nvim from custom aider plugin
  .config/nvim/README.md
  .config/nvim/lua/configs/opencode.lua
  .config/nvim/lua/plugin/aider/chat.lua
  .config/nvim/lua/plugin/aider/configs.lua
  .config/nvim/lua/plugin/aider/init.lua
  .config/nvim/lua/plugin/aider/utils.lua
  .config/nvim/lua/plugin/aider/watch.lua
  .config/nvim/lua/plugins/tools.lua
  .config/nvim/package-lock.json
  .config/nvim/plugin/_load.lua
Due: .config/nvim

fix(nvim): vimtex warning about highlighting taken by treesitter in tex files
  .config/nvim/lua/configs/vimtex.lua
Due: .config/nvim

refactor(nvim)!: change tex bold font snippet trigger from 'bf' to 'bb'
  .config/nvim/lua/snippets/tex/init.lua
Due: .config/nvim

fix(nvim): fzf win not closing quickfix on open
  .config/nvim/lua/configs/fzf-lua.lua
Due: .config/nvim

fix(nvim): cannot disable opencode.nvim `toggle_pane` action
  .config/nvim/lua/configs/opencode.lua
  .config/nvim/package-lock.json
Due: .config/nvim

feat(bin): unnest extracted directory using `ex`
  .bin/ex
Due: .bin

refactor(kde): use 1.25x scale
  .config/kwinrc
Due: none

refactor(nvim)!: change keymaps to stop opencode and submit replies
  .config/nvim/lua/configs/opencode.lua
Due: .config/nvim

feat(nvim): add tex math snippet for `\bm`
  .config/nvim/lua/snippets/tex/math.lua
Due: .config/nvim

feat(nvim): add tex math snippet for `\odot`
  .config/nvim/lua/snippets/tex/math.lua
Due: .config/nvim

feat(nvim): use prettier `\varnothing` as empty set symbol in 'void' math snippet
  .config/nvim/lua/snippets/tex/math.lua
Due: .config/nvim

refactor(nvim)!: simplify snippet trigger for logical and, or, and not
  .config/nvim/lua/snippets/tex/math.lua
Due: .config/nvim

fix(nvim): typo in tex math 'argmax' snippet
  .config/nvim/lua/snippets/tex/math.lua
Due: .config/nvim

fix(nvim): don't auto-wrap text in markdown
  .config/nvim/after/ftplugin/markdown/opts.lua
Due: .config/nvim

feat(nvim): set filetype to 'markdown' in opencode buffers
  .config/nvim/lua/configs/opencode.lua
Due: .config/nvim

fix(tmux): not detecting vim/other TUI apps launched with `sudo -E`
  .config/tmux/tmux.conf
Due: none

Path conditions:
  .config/nvim: any of: ^\.config/nvim/
  .config/fish: any of: ^\.config/fish/
  .bin: any of: ^\.bin/
