Repository Bekaboo/dot: changes, and which pre-commit hooks are due for each by the changed paths.
All: .config/nvim, .config/fish, .bin

.config/nvim:
  name: Hooks for neovim config
  entry: sh -c 'cd .config/nvim && pre-commit run -c .pre-commit-config.local.yaml && cd -'
  language: system
  verbose: true

.config/fish:
  name: Hooks for fish config
  entry: sh -c 'cd .config/fish && pre-commit run -c .pre-commit-config.local.yaml && cd -'
  language: system
  verbose: true

.bin:
  name: Hooks for sh scripts under .bin
  entry: sh -c 'cd .bin && pre-commit run -c .pre-commit-config.local.yaml && cd -'
  language: system
  verbose: true

refactor(nvim): don't show buffer source when LSP is ready
  .config/nvim/lua/configs/blink-cmp.lua
Due: .config/nvim

feat(nvim): manullay trigger blink.cmp completion using `<C-n>`/`<C-p>`
  .config/nvim/lua/configs/blink-cmp.lua
Due: .config/nvim

revert: "feat(nvim): auto-load sessions if launched in subdirs in `~/code`"
  .config/nvim/plugin/_load.lua
Due: .config/nvim

refactor(tmux): remove duplicated bindings
  .config/tmux/tmux.conf
Due: none

fix(fish): silent pyenv re-init errors
  .config/fish/conf.d/pyenv.fish
Due: .config/fish

style(nvim): format with stylua
  .config/nvim/lua/plugin/readline.lua
Due: .config/nvim

chore(nvim): update plugins
  .config/nvim/package-lock.json
Due: .config/nvim

feat(nvim): capture error number in pyre output
  .config/nvim/after/lsp/pyre.lua
Due: .config/nvim

fix(tmux,vim,nvim): not recognizing `sudo -e nvim` as gui app
  .config/nvim/lua/utils/term.lua
  .config/tmux/tmux.conf
  .vimrc
Due: .config/nvim

fix(nvim): luasnip `<Tab>`/`<S-Tab>` keymaps overridden by tabout
  .config/nvim/lua/configs/luasnip.lua
Due: .config/nvim

refactor(git): use `fn` as function name in git aliases
  .gitconfig
Due: none

feat(nvim): add nvim-dap config to attach to running debugpy server
  .config/nvim/lua/dap-configs/python.lua
Due: .config/nvim

revert: "feat(kitty,alacritty,wezterm,foot,konsole): use Iosevka font"
  .config/alacritty/main.toml
  .config/foot/foot.ini
  .config/wezterm/wezterm.lua
  .local/share/konsole/Cockatoo Dark.profile
  .local/share/konsole/Cockatoo Light.profile
  .local/share/konsole/Everforest Dark.profile
  .local/share/konsole/Everforest Light.profile
  .local/share/konsole/Gruvbox Material Dark.profile
  .local/share/konsole/Gruvbox Material Light.profile
  .local/share/konsole/Macro Dark.profile
  .local/share/konsole/Macro Light.profile
  .local/share/konsole/Nano Dark.profile
  .local/share/konsole/Nano Light.profile
  .local/share/konsole/Sonokai Dark.profile
  .local/share/konsole/Sonokai Light.profile
  .local/share/konsole/Stata Dark.profile
  .local/share/konsole/Stata Light.profile
Due: none

refactor(nvim): switch from nvim-dap-ui to nvim-dap-view
  .config/nvim/README.md
  .config/nvim/lua/configs/nvim-dap-ui.lua
  .config/nvim/lua/configs/nvim-dap-view.lua
  .config/nvim/lua/plugins/debug.lua
  .config/nvim/package-lock.json
Due: .config/nvim

refactor(nvim)!: don't change logger name 'logger' in python snippets
  .config/nvim/lua/snippets/python.lua
Due: .config/nvim

feat(nvim): support writing to logfile in python log config snippet
  .config/nvim/lua/snippets/python.lua
Due: .config/nvim

refactor(nvim)!: always use debug lev when logging a line or var
  .config/nvim/lua/snippets/python.lua
Due: .config/nvim

fix(alacritty): `Ctrl-6` and `Ctrl-5` not working on macOS
  .config/alacritty/main.toml
Due: none

fix(macos,tmux): quote `tmux.command` file path in tmux app `document.wflow`
  Applications/tmux.app/Contents/document.wflow
Due: none

style(macos,tmux): use compact vim modeline in `tmux.command`
  Applications/tmux.app/Contents/MacOS/tmux.command
Due: none

feat(macos,alacritty): add alacritty wrapper for opening `*.command` files
  Applications/Alacritty Execute.app/Contents/Info.plist
  Applications/Alacritty Execute.app/Contents/MacOS/Automator Application Stub
  Applications/Alacritty Execute.app/Contents/MacOS/alacritty-execute.command
  Applications/Alacritty Execute.app/Contents/Resources/ApplicationStub.icns
  Applications/Alacritty Execute.app/Contents/Resources/Assets.car
  Applications/Alacritty Execute.app/Contents/Resources/InfoPlist.loctable
  Applications/Alacritty Execute.app/Contents/_CodeSignature/CodeResources
  Applications/Alacritty Execute.app/Contents/document.wflow
  Applications/Alacritty Execute.app/Icon 
Due: none

fix(fish): silent pyenv re-init errors in `pyenv init`
  .config/fish/conf.d/pyenv.fish
Due: .config/fish

refactor(nvim): hide both completion menu and signature help with `<C-e>`
  .config/nvim/lua/configs/blink-cmp.lua
Due: .config/nvim

feat(nvim): use `<C-s>` to show signature help using blink.cmp
  .config/nvim/lua/configs/blink-cmp.lua
Due: .config/nvim

fix(macos,alacritty,tmux): cannot open multiple tmux windows
  Applications/Alacritty Execute.app/Contents/MacOS/alacritty-execute.command
Due: none

fix(bin): by default trap signal `HUP`
  .bin/rsync-sync
  .bin/setbg
Due: .bin

refactor(nvim): put trap `HUP` signals choice first in sh snippets
  .config/nvim/lua/snippets/sh.lua
Due: .config/nvim

feat(yay): always show diff by default
  .config/yay/config.json
Due: none

chore(yay): update yay config
  .config/yay/config.json
Due: none

fix(nvim): should not set fg color for `hl-PmenuSel` in nano colorscheme
  .config/nvim/colors/nano.lua
Due: .config/nvim

fix(nvim): tabout plugin keymaps conflict with cmdline completion
  .config/nvim/lua/plugin/tabout.lua
  .config/nvim/plugin/_load.lua
Due: .config/nvim

fix(bash): do cleanup in `ff()` on sig `INT`, `TERM`, `HUP`
  .bashrc
Due: none

refactor(nvim): tweak nerd icon for proto message type
  .config/nvim/lua/utils/static/icons/_icons_nf.lua
Due: .config/nvim

fix(nvim): fix typing warnings and add nil checks
  .config/nvim/lua/plugin/statusline.lua
  .config/nvim/lua/utils/stl.lua
Due: .config/nvim

fix(alacritty): make `Ctrl-/` work in alacritty
  .config/alacritty/main.toml
Due: none

fix(fish): error 'Unknown command: pyenv:'
  .config/fish/conf.d/pyenv.fish
Due: .config/fish

feat(nvim): complete non-explicit tabnames in `:TabRename`
  .config/nvim/lua/plugin/tabline.lua
Due: .config/nvim

fix(nvim): completion items are pre-selected in cmdline with blink.cmp
  .config/nvim/lua/configs/blink-cmp.lua
Due: .config/nvim

fix(nvim): ensure that dap console is not shown in a separate window
  .config/nvim/lua/configs/nvim-dap-view.lua
Due: .config/nvim

Path conditions:
  .config/nvim: any of: ^\.config/nvim/
  .config/fish: any of: ^\.config/fish/
  .bin: any of: ^\.bin/
