Repository Bekaboo/dot: changes, and which pre-commit hooks are due for each by the changed paths.
All: .config/nvim, .config/fish, .bin

.config/nvim:
  name: Hooks for neovim config
  entry: sh -c 'cd .config/nvim && pre-commit run -c .pre-commit-config.local.yaml && cd -'
  language: system
  verbose: true

.config/fish:
  name: Hooks for fish config
  entry: sh -c 'cd .config/fish && pre-commit run -c .pre-commit-config.local.yaml && cd -'
  language: system
  verbose: true

.bin:
  name: Hooks for sh scripts under .bin
  entry: sh -c 'cd .bin && pre-commit run -c .pre-commit-config.local.yaml && cd -'
  language: system
  verbose: true

style(tmux): prefer braces `{}` over quotes to avoid nested escaping
  .config/tmux/tmux.conf
Due: none

refactor(bin,fish): simplify `cursorpos`
  .bin/cursorpos
  .config/fish/functions/cursorpos.fish
Due: .config/fish, .bin

fix(bin,fish): use `\r\n` in `cursorpos` to bash next prompt offset
  .bin/cursorpos
  .config/fish/functions/cursorpos.fish
Due: .config/fish, .bin

feat(opencode): wrap code references in backticks
  .config/opencode/AGENTS.md
Due: none

fix(tmux): unknown command `extract-selection`
  .config/tmux/tmux.conf
Due: none

feat(kde,krohnkite): don't tile Klassy window
  .config/kwinrc
Due: none

feat(tmux): include pane current command in window titles
  .config/tmux/tmux.conf
Due: none

fix(kde): various GTK integration issues (firefox/vscode bg syncing, file picker)
  .bin/startplasma-wayland-with-dbus-session
  .config/systemd/user/graphical-session-kickstart.service
Due: .bin

refactor(tmux)!: restore `x` binding behavior (kill pane, not session)
  .config/tmux/tmux.conf
Due: none

fix(foot): `[colors]` is deprecated; must set `initial-color-theme` to apply light theme
  .config/foot/themes/cockatoo-dark.ini
  .config/foot/themes/cockatoo-light.ini
  .config/foot/themes/everforest-dark.ini
  .config/foot/themes/everforest-light.ini
  .config/foot/themes/gruvbox-material-dark.ini
  .config/foot/themes/gruvbox-material-light.ini
  .config/foot/themes/macro-dark.ini
  .config/foot/themes/macro-light.ini
  .config/foot/themes/nano-dark.ini
  .config/foot/themes/nano-light.ini
  .config/foot/themes/sonokai-dark.ini
  .config/foot/themes/sonokai-light.ini
  .config/foot/themes/stata-dark.ini
  .config/foot/themes/stata-light.ini
Due: none

style(bin): format with shfmt
  .bin/setbg
  .bin/trans
  .bin/whereami
Due: .bin

style(nvim): format with stylua
  .config/nvim/lua/my/plugin/im/backends/init.lua
  .config/nvim/lua/my/utils/cmd.lua
Due: .config/nvim

fix(nvim): disable nvim's new plugin dir to avoid conflict with oil.nvim
  .config/nvim/lua/my/pack/specs/start/oil.lua
Due: .config/nvim

feat(fish): use qwen as fish-ai's llm backend
  .config/fish-ai.ini
Due: none

feat(git): ignore coding agent (cc, qoder) personal pref files (`*.local.md`)
  .config/git/ignore
Due: none

feat(fish): link different fish-ai config depending on `$FISH_AI_CONFIG`
  .config/fish-ai.deepseek.ini
  .config/fish-ai.qwen.ini
  .config/fish/conf.d/25-fish-ai.fish
Due: .config/fish

feat(yabai): ignore iDingTalk popup windows
  .config/yabai/yabairc
Due: none

fix(fish): suppress `ln` 'file exists' warning linking fish-ai config
  .config/fish/conf.d/25-fish-ai.fish
Due: .config/fish

refactor(kde,yabai)!: remove `Meta+Return` & `cmd-return` keymaps to set master
  .config/kglobalshortcutsrc
  .config/skhd/skhdrc
Due: none

fix(nvim): `TableModeRealign` accidentally called in fenced code block
  .config/nvim/lua/my/pack/specs/opt/vim-table-mode.lua
Due: .config/nvim

feat(yabai): ignore Preview app popup windows
  .config/yabai/yabairc
Due: none

refactor(nvim): extract context helper funcs to `my.utils.ctx`
  .config/nvim/lua/my/pack/specs/opt/vim-table-mode.lua
  .config/nvim/lua/my/utils/ctx.lua
  .config/nvim/lua/my/utils/init.lua
  .config/nvim/lua/my/utils/snip/conds.lua
Due: .config/nvim

feat(nvim): add sh/bash & fish snippet to test variable existence
  .config/nvim/lua/my/pack/res/luasnip/snippets/fish.lua
  .config/nvim/lua/my/pack/res/luasnip/snippets/sh.lua
Due: .config/nvim

feat(tmux,vim,nvim): add codex tui app
  .config/nvim/lua/my/utils/term.lua
  .config/tmux/tmux.conf
  .vimrc
Due: .config/nvim

refactor(nvim)!: don't show diagnostic virtual text by default
  .config/nvim/lua/my/core/diagnostic.lua
Due: .config/nvim

perf(nvim)!: increase pyright speed with `useLibraryCodeForTypes=false`
  .config/nvim/after/lsp/pyright.lua
Due: .config/nvim

feat(codex): link opencode `AGENTS.md` to codex's
  .codex/AGENTS.md
Due: none

feat(codex): link opencode `dotfile-management` skill
  .codex/skills/.gitignore
  .codex/skills/dotfile-management
Due: none

feat(opencode,codex): add `git-commit-message` skill
  .codex/skills/git-commit-message/SKILL.md
  .codex/skills/git-commit-message/agents/openai.yaml
  .config/opencode/skills/git-commit-message/SKILL.md
Due: none

fix(codex): lint direct markdown edit paths
  .codex/hooks/markdownlint.mjs
  .codex/hooks/markdownlint.test.mjs
Due: none

feat(nvim): print markdown auto-format title status on `:MarkdownSetAutoFormatTitle`
  .config/nvim/after/ftplugin/markdown/title.lua
Due: .config/nvim

feat(opencode,codex): enforce markdown formatting
  .codex/hooks.json
  .codex/hooks/markdownlint.mjs
  .codex/hooks/markdownlint.test.mjs
  .config/markdownlint/no-numbered-headings.cjs
  .config/opencode/plugins/md-lint.test.ts
  .config/opencode/plugins/md-lint.ts
  .markdownlint-cli2.cjs
Due: none

docs(dotfiles): document portable paths
  .config/opencode/skills/dotfile-management/SKILL.md
Due: none

refactor(nvim)!: rename command `:MarkdownAutoFormatTitle` to `:MarkdownSetAutoFormatTitle`
  .config/nvim/after/ftplugin/markdown/title.lua
Due: .config/nvim

feat(vim,nvim): find recursively under cwd (`path+=**`)
  .config/nvim/lua/my/core/opts.lua
  .vimrc
Due: .config/nvim

feat(nvim): add markdownlint cli2 lsp
  .config/nvim/after/lsp/markdownlint-cli2.lua
Due: .config/nvim

feat(tmux,vim,nvim): add qodercli tui app
  .config/nvim/lua/my/utils/term.lua
  .config/tmux/tmux.conf
  .vimrc
Due: .config/nvim

feat(opencode): add code style instructions
  .config/opencode/AGENTS.md
Due: none

feat(nvim): support Alibaba private GitLab URL in fugitive-gitlab.vim
  .config/nvim/lua/my/pack/specs/opt/vim-fugitive.lua
Due: .config/nvim

Path conditions:
  .config/nvim: any of: ^\.config/nvim/
  .config/fish: any of: ^\.config/fish/
  .bin: any of: ^\.bin/
