Repository Bekaboo/dot: changes, and which pre-commit hooks are due for each by the changed paths.
All: .config/nvim, .config/fish, .bin

.pre-commit-config.yaml:

#vim:ft=yaml:sw=2:sts=2:

repos:
  # Prevent secret leak in commits
  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.24.2
    hooks:
      - id: gitleaks

  # Dotfiles repo can be considered as a monorepo, sub-configs can have their
  # own pre-commit configs in corresponding sub-directories
  #
  # Pre-commit config file in sub-dirs must not be named with
  # `.pre-commit-config`, else pre-commit will fail with
  # 'Your pre-commit configuration is unstaged.'
  - repo: local
    hooks:
      - id: .config/nvim
        name: Hooks for neovim config
        entry: sh -c 'cd .config/nvim && pre-commit run -c .pre-commit-config.local.yaml && cd -'
        language: system
        files: ^\.config/nvim/
        verbose: true

      - id: .config/fish
        name: Hooks for fish config
        entry: sh -c 'cd .config/fish && pre-commit run -c .pre-commit-config.local.yaml && cd -'
        language: system
        files: ^\.config/fish/
        verbose: true

      - id: .bin
        name: Hooks for sh scripts under .bin
        entry: sh -c 'cd .bin && pre-commit run -c .pre-commit-config.local.yaml && cd -'
        language: system
        files: ^\.bin/
        verbose: true

      # Lint and format shell scripts under home directory
      - id: sh-format
        name: Shell script format
        entry: shfmt -w
        language: system
        types: [shell]

      - id: sh-lint
        name: Shell script lint
        entry: shellcheck
        language: system
        types: [shell]

revert: "fix(bin): `__checkbg` should not try to change bg with locked screen"
  .bin/__checkbg
Due: .bin

fix(bin): switching to dark mode if no internet connection
  .bin/suggestbg
  .bin/whereami
Due: .bin

fix(bin): remove useless `shift` in sh `for` loops
  .bin/setbg
  .bin/setcolor
Due: .bin

fix(klassy): `.gitignore` does not support inline comments
  .config/klassy/.gitignore
Due: none

chore(nvim): update plugins
  .config/nvim/lua/my/pack/specs/opt/blink-cmp.lua
  .config/nvim/nvim-pack-lock.json
Due: .config/nvim

fix(nvim): no completions for opencode slash commands
  .config/nvim/lua/my/utils/lsp.lua
Due: .config/nvim

feat(git): add aliases to find a file / grep text across commits
  .gitconfig
Due: none

feat(nvim): re-build plugin if not already built
  .config/nvim/lua/my/utils/pack.lua
Due: .config/nvim

feat(bin): check existence of `flock` and `timeout`
  .bin/setbg
  .bin/setcolor
Due: .bin

feat(nvim): don't skip loading gzip, tar, and zip plugins
  .config/nvim/lua/my/core/opts.lua
Due: .config/nvim

fix(nvim)!: remove C comment snippets (unexpected triggering)
  .config/nvim/lua/my/pack/res/luasnip/snippets/c.lua
Due: .config/nvim

feat(nvim): add C snippets for `fprintf()`
  .config/nvim/lua/my/pack/res/luasnip/snippets/c.lua
Due: .config/nvim

feat(nvim): dynamically set `justMyCode` when debugpy launches
  .config/nvim/lua/my/pack/res/nvim-dap/dap/python.lua
Due: .config/nvim

fix(nvim): `my.dap.cache` typo
  .config/nvim/lua/my/pack/res/nvim-dap/dap/bash.lua
  .config/nvim/lua/my/pack/res/nvim-dap/dap/c.lua
Due: .config/nvim

style(nvim): format with stylua
  .config/nvim/lua/my/pack/res/nvim-dap/dap/python.lua
Due: .config/nvim

feat(kde,krohnkite): don't tile v2rayN window
  .config/kwinrc
Due: none

feat(nvim): add tex snippets for `\nRightarrow` (not implies)
  .config/nvim/lua/my/pack/res/luasnip/snippets/tex.lua
Due: .config/nvim

chore(nvim): fix keymap desc for vim-test
  .config/nvim/lua/my/pack/specs/opt/vim-test.lua
Due: .config/nvim

fix(nvim): `my#utils#cmd#split()` does not exist
  .config/nvim/autoload/my/utils/cmd.vim
Due: .config/nvim

feat(nvim): add `my.utils.lua.dedup()`
  .config/nvim/lua/my/utils/lua.lua
Due: .config/nvim

feat(nvim): add `TestStrategy` and keymap to choose test strategies
  .config/nvim/lua/my/pack/specs/opt/vim-test.lua
Due: .config/nvim

feat(nvim): add `TestYank` and keymaps to yank a test command
  .config/nvim/lua/my/pack/specs/opt/vim-test.lua
  .config/nvim/lua/my/pack/specs/opt/which-key.lua
Due: .config/nvim

feat(tmux,vim,nvim): add claude code tui app
  .config/nvim/lua/my/utils/term.lua
  .config/tmux/tmux.conf
  .vimrc
Due: .config/nvim

fix(nvim): "without" should be lower-cased in markdown titles
  .config/nvim/after/ftplugin/markdown/title.lua
Due: .config/nvim

chore(nvim): add newline at end of `nvim-pack-lock.json`
  .config/nvim/nvim-pack-lock.json
Due: .config/nvim

fix(nvim): git branch not shown in statusline when `status.showUntrackedFiles` is not set
  .config/nvim/lua/my/plugin/statusline.lua
Due: .config/nvim

fix(sh,bash,fish): cannot find `clang-tidy` on macOS
  .config/fish/conf.d/00-login.fish
  .profile
Due: .config/fish

feat(opencode): use deepseek-v4-{pro,flash} by default
  .config/opencode/opencode.json
Due: none

revert: "feat(nvim): use sync call to get git info for statusline on the 1st time"
  .config/nvim/lua/my/utils/git.lua
Due: .config/nvim

fix(nvim): git branch info shown for untracked files in statusline
  .config/nvim/lua/my/plugin/statusline.lua
Due: .config/nvim

chore(nvim): add desc for visual mode `an`/`in` mappings
  .config/nvim/lua/my/pack/specs/opt/nvim-treesitter-incremental-selection.lua
Due: .config/nvim

feat(nvim): add c/c++ conditional macro snippets
  .config/nvim/lua/my/pack/res/luasnip/snippets/c.lua
Due: .config/nvim

fix(nvim)!: don't tabout ',' and '.'; pair ';' with ';'
  .config/nvim/lua/my/plugin/tabout.lua
Due: .config/nvim

feat(nvim)!: change new logger snippet trigger from 'lg' to 'nl'
  .config/nvim/lua/my/pack/res/luasnip/snippets/java.lua
  .config/nvim/lua/my/pack/res/luasnip/snippets/python.lua
Due: .config/nvim

feat(nvim): add c/c++ debug & logging snippets
  .config/nvim/lua/my/pack/res/luasnip/snippets/c.lua
Due: .config/nvim

fix(nvim): cannot switch to corresponding `.c` file in `.h` file
  .config/nvim/lua/my/pack/res/vim-projectionist/projections/cpp.lua
Due: .config/nvim

feat(nvim): add trigger 'grd' (guard) for `#ifndef...define` preproc
  .config/nvim/lua/my/pack/res/luasnip/snippets/c.lua
Due: .config/nvim

fix(nvim): rename `log()` to `log_msg()` in c snippet to avoid name collision with `math.h`
  .config/nvim/lua/my/pack/res/luasnip/snippets/c.lua
Due: .config/nvim

fix(nvim): winbar icon color not restored after closing fzf-lua
  .config/nvim/lua/my/pack/specs/start/fzf-lua.lua
Due: .config/nvim

feat(nvim): support specifying event pattern in winbar config
  .config/nvim/lua/my/plugin/winbar/configs.lua
  .config/nvim/lua/my/plugin/winbar/init.lua
  .config/nvim/lua/my/plugin/winbar/sources/lsp.lua
  .config/nvim/lua/my/plugin/winbar/sources/markdown.lua
Due: .config/nvim
