Repository Bekaboo/dot: changes, and which pre-commit hooks are due for each by the changed paths.
All: .config/nvim, .config/fish, .bin

.pre-commit-config.yaml:

#vim:ft=yaml:sw=2:sts=2:

repos:
  # Prevent secret leak in commits
  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.24.2
    hooks:
      - id: gitleaks

  # Dotfiles repo can be considered as a monorepo, sub-configs can have their
  # own pre-commit configs in corresponding sub-directories
  #
  # Pre-commit config file in sub-dirs must not be named with
  # `.pre-commit-config`, else pre-commit will fail with
  # 'Your pre-commit configuration is unstaged.'
  - repo: local
    hooks:
      - id: .config/nvim
        name: Hooks for neovim config
        entry: sh -c 'cd .config/nvim && pre-commit run -c .pre-commit-config.local.yaml && cd -'
        language: system
        files: ^\.config/nvim/
        verbose: true

      - id: .config/fish
        name: Hooks for fish config
        entry: sh -c 'cd .config/fish && pre-commit run -c .pre-commit-config.local.yaml && cd -'
        language: system
        files: ^\.config/fish/
        verbose: true

      - id: .bin
        name: Hooks for sh scripts under .bin
        entry: sh -c 'cd .bin && pre-commit run -c .pre-commit-config.local.yaml && cd -'
        language: system
        files: ^\.bin/
        verbose: true

      # Lint and format shell scripts under home directory
      - id: sh-format
        name: Shell script format
        entry: shfmt -w
        language: system
        types: [shell]

      - id: sh-lint
        name: Shell script lint
        entry: shellcheck
        language: system
        types: [shell]

fix(nvim): additional param passed to `utils.stl.hl()`
  .config/nvim/lua/plugin/statuscolumn.lua
Due: .config/nvim

fix(nvim): treesitter hl not automatically started
  .config/nvim/lua/core/treesitter.lua
Due: .config/nvim

feat(nvim): add trig '__' for '\underline{}' tex snippet
  .config/nvim/lua/pack/res/luasnip/snippets/tex.lua
Due: .config/nvim

fix(fish): load plugins bootstrap last to apply plugin configs
  .config/fish/conf.d/50-abbr.fish
  .config/fish/conf.d/50-autols.fish
  .config/fish/conf.d/50-bat.fish
  .config/fish/conf.d/50-fish-ai.fish
  .config/fish/conf.d/50-fzf.fish
  .config/fish/conf.d/50-osc133.fish
  .config/fish/conf.d/50-postexec-newline.fish
  .config/fish/conf.d/50-pyenv.fish
  .config/fish/conf.d/50-python.fish
  .config/fish/conf.d/50-rg.fish
  .config/fish/conf.d/50-theme.fish
  .config/fish/conf.d/50-zoxide.fish
  .config/fish/conf.d/99-plugins.fish
Due: .config/fish

refactor(tmux): remove bindings `!`/`@` for switching windows
  .config/tmux/tmux.conf
Due: none

refactor(vim,nvim): don't make `cc` follow `tw` if `cc` is empty
  .config/nvim/lua/core/autocmds.lua
  .vimrc
Due: .config/nvim

fix(fzf): compat with older fzf versions (does not have `--gutter` opt)
  .config/fish/conf.d/fzf.fish
  .profile
Due: .config/fish

style(nvim): format with stylua
  .config/nvim/lua/pack/specs/opt/which-key.lua
Due: .config/nvim

perf(nvim): fix luasnip version check performance issue
  .config/nvim/lua/pack/specs/opt/luasnip.lua
  .config/nvim/lua/utils/lua.lua
Due: .config/nvim

fix(nvim): shadowing upvalue `fallback_tbl` in `plugin.tabout`
  .config/nvim/lua/plugin/tabout.lua
Due: .config/nvim

refactor(nvim): clean up colorscheme syncing autocmd
  .config/nvim/lua/core/autocmds.lua
Due: .config/nvim

chore(nvim): stricter typing in luasnip config
  .config/nvim/lua/pack/specs/opt/luasnip.lua
Due: .config/nvim

refactor(nvim): simplify `utils.pack.build` and fix type warnings
  .config/nvim/lua/utils/pack.lua
Due: .config/nvim

chore(kde,krohnkite): update krohnkite config
  .config/kwinrc
Due: none

refactor(nvim): clean up colorscheme loading
  .config/nvim/lua/core/autocmds.lua
Due: .config/nvim

fix(nvim): blink-cmp config error when `pumwidth/height` is unset
  .config/nvim/lua/pack/specs/opt/blink-cmp.lua
Due: .config/nvim

fix(nvim): quicker.nvim not loaded
  .config/nvim/lua/pack/specs/opt/quicker.lua
Due: .config/nvim

refactor(nvim): don't schedule event-retriggering in loading
  .config/nvim/lua/core/treesitter.lua
  .config/nvim/lua/utils/load.lua
Due: .config/nvim

fix(kde,krohnkite): ignore 'Open File' popup windows
  .config/kwinrc
Due: none

perf(nvim): enable async ts parsing for insert mode smoothness
  .config/nvim/lua/core/treesitter.lua
Due: .config/nvim

fix(bash): error if git is not executable
  .bashrc
Due: none

fix(nvim): `utils.load.on_events` event pattern handling
  .config/nvim/lua/utils/load.lua
Due: .config/nvim

refactor(nvim): clean up `utils.snip.snips`
  .config/nvim/lua/utils/snip/snips.lua
Due: .config/nvim

chore(nvim): update plugins
  .config/nvim/nvim-pack-lock.json
Due: .config/nvim

fix(nvim): `gs` in oil buf conflicts with nvim-ts-textobjects & treesj
  .config/nvim/lua/pack/specs/start/oil.lua
Due: .config/nvim

refactor(nvim): rename `d` -> `c` in colorscheme restore autocmd
  .config/nvim/lua/core/autocmds.lua
Due: .config/nvim

feat(nvim): add block comment pair `/**/` for java and scala
  .config/nvim/lua/pack/specs/opt/ultimate-autopair.lua
Due: .config/nvim

fix(fish): python venv not initialized in sub-shell
  .config/fish/conf.d/25-python.fish
Due: .config/fish

refactor(nvim): remove all telescope hl linkage in fzf config
  .config/nvim/lua/pack/specs/start/fzf-lua.lua
Due: .config/nvim

feat(nvim): add `utils.key.with_winview()`
  .config/nvim/lua/utils/key.lua
Due: .config/nvim

refactor(kde,yabai): main window at left
  .config/kwinrc
  .config/yabai/yabairc
Due: none

refactor(nvim): clean up `utils.hl.is_active()` buf resolving
  .config/nvim/lua/utils/ts.lua
Due: .config/nvim

fix(nvim): treesitter `@spell` not respected by spellcheck
  .config/nvim/lua/core/opts.lua
Due: .config/nvim

fix(kde): visibility of inactive text in onedark colorscheme
  .local/share/color-schemes/OnedarkDark.colors
Due: none

fix(nvim): suppress warning when blink.cmp build failed on wsl
  .config/nvim/lua/pack/specs/opt/blink-cmp.lua
Due: .config/nvim

refactor(nvim)!: change new logger snippet trigger from 'nl' to 'lg'
  .config/nvim/lua/pack/res/luasnip/snippets/java.lua
  .config/nvim/lua/pack/res/luasnip/snippets/python.lua
Due: .config/nvim

fix(fish): fzf bindings conflict with tmux's
  .config/fish/conf.d/51-fzf-bindings.fish
Due: .config/fish

feat(nvim): enable metals lsp for sbt and sc filetypes
  .config/nvim/after/lsp/metals.lua
Due: .config/nvim

refactor(nvim)!: use `gs` keymap prefix for text split/join/swap actions
  .config/nvim/lua/pack/specs/opt/nvim-treesitter-textobjects.lua
  .config/nvim/lua/pack/specs/opt/treesj.lua
  .config/nvim/lua/pack/specs/opt/which-key.lua
Due: .config/nvim
