Repository Bekaboo/dot: changes, and which pre-commit hooks are due for each by the changed paths.
All: .config/nvim, .config/fish, .bin

.pre-commit-config.yaml:

#vim:ft=yaml:sw=2:sts=2:

repos:
  # Prevent secret leak in commits
  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.24.2
    hooks:
      - id: gitleaks

  # Dotfiles repo can be considered as a monorepo, sub-configs can have their
  # own pre-commit configs in corresponding sub-directories
  #
  # Pre-commit config file in sub-dirs must not be named with
  # `.pre-commit-config`, else pre-commit will fail with
  # 'Your pre-commit configuration is unstaged.'
  - repo: local
    hooks:
      - id: .config/nvim
        name: Hooks for neovim config
        entry: sh -c 'cd .config/nvim && pre-commit run -c .pre-commit-config.local.yaml && cd -'
        language: system
        files: ^\.config/nvim/
        verbose: true

      - id: .config/fish
        name: Hooks for fish config
        entry: sh -c 'cd .config/fish && pre-commit run -c .pre-commit-config.local.yaml && cd -'
        language: system
        files: ^\.config/fish/
        verbose: true

      - id: .bin
        name: Hooks for sh scripts under .bin
        entry: sh -c 'cd .bin && pre-commit run -c .pre-commit-config.local.yaml && cd -'
        language: system
        files: ^\.bin/
        verbose: true

      # Lint and format shell scripts under home directory
      - id: sh-format
        name: Shell script format
        entry: shfmt -w
        language: system
        types: [shell]

      - id: sh-lint
        name: Shell script lint
        entry: shellcheck
        language: system
        types: [shell]

feat(nvim): simplify markdown codeblock ftplugin
  .config/nvim/after/ftplugin/markdown/codeblock.lua
Due: .config/nvim

chore(nvim): update plugins
  .config/nvim/package-lock.json
Due: .config/nvim

feat(vim,nvim): add keymap `d<Space>` to remove trailing whitespaces
  .config/nvim/lua/core/keymaps.lua
  .vimrc
Due: .config/nvim

feat(nvim): simplify lazyredraw and cursor pos restore in keymaps
  .config/nvim/lua/core/keymaps.lua
  .config/nvim/lua/utils/key.lua
Due: .config/nvim

refactor(nvim): merge `utils.keys` with `core.keymaps`
  .config/nvim/lua/core/keymaps.lua
  .config/nvim/lua/utils/keys.lua
Due: .config/nvim

fix(nvim): error changing tex delimiters using vimtex
  .config/nvim/lua/configs/vimtex.lua
Due: .config/nvim

refactor(nvim): use `vim._resolve_bufnr()` to normalize buf params
  .config/nvim/after/ftplugin/markdown/codeblock.lua
  .config/nvim/lua/configs/img-clip.lua
  .config/nvim/lua/configs/molten.lua
  .config/nvim/lua/configs/nvim-dap.lua
  .config/nvim/lua/configs/oil.lua
  .config/nvim/lua/configs/vim-table-mode.lua
  .config/nvim/lua/core/autocmds.lua
  .config/nvim/lua/plugin/jupytext.lua
  .config/nvim/lua/plugin/term.lua
  .config/nvim/lua/plugin/winbar/configs.lua
  .config/nvim/lua/plugin/winbar/sources/lsp.lua
  .config/nvim/lua/plugin/winbar/sources/markdown.lua
  .config/nvim/lua/plugin/winbar/sources/treesitter.lua
  .config/nvim/lua/utils/buf.lua
  .config/nvim/lua/utils/git.lua
  .config/nvim/lua/utils/snippets/funcs.lua
  .config/nvim/lua/utils/stl.lua
  .config/nvim/lua/utils/syn.lua
  .config/nvim/lua/utils/term.lua
  .config/nvim/lua/utils/ts.lua
Due: .config/nvim

feat(opencode): use GPT-5 model by default
  .config/opencode/opencode.json
Due: none

feat(okular): add `okularpartrc` config file
  .config/okularpartrc
  .gitattributes
  .gitconfig
Due: none

fix(nvim): fzf-lua window has small height when opencode windows exist
  .config/nvim/lua/configs/fzf-lua.lua
Due: .config/nvim

chore(zathura): add hint comment for `<Tab>` showing pdf TOC
  .config/zathura/zathurarc
Due: none

feat(bin): set zathura background color in `setbg`
  .bin/setbg
Due: .bin

feat(nvim): enable vimtex forward/inverse serach for zathura
  .config/nvim/lua/configs/vimtex.lua
Due: .config/nvim

feat(nvim): enable vimtex forward/inverse search for okular viewer
  .config/nvim/lua/configs/vimtex.lua
Due: .config/nvim

feat(zathura): set recolor background color
  .config/zathura/zathurarc
Due: none

feat(zathura): keep hue (color) in dark mode (recolor)
  .config/zathura/zathurarc
Due: none

fix(nvim): vimtex inverse search
  .config/nvim/lua/plugins/markup.lua
Due: .config/nvim

feat(bin): don't repeatedly sync with the same system bg in `__syncbg`
  .bin/__syncbg
Due: .bin

refactor(zathura)!: swap `toggle_page_mode` and `cycle_first_column` keymaps
  .config/zathura/zathurarc
Due: none

fix(bin,zathura): zathura bg settings (recolor) not persisted
  .bin/setbg
  .config/zathura/.gitignore
  .config/zathura/zathurarc
Due: .bin

style(bin): put param comments above func definitions
  .bin/setbg
  .bin/setcolor
Due: .bin

feat(nvim): automatically sync pdf viewer with tex source file
  .config/nvim/lua/configs/vimtex.lua
Due: .config/nvim

perf(nvim): don't refresh vimtex view (forward search) if source line remains
  .config/nvim/lua/configs/vimtex.lua
Due: .config/nvim

fix(nvim): not vimtex regex syntex not applied if not lazy-loaded
  .config/nvim/lua/configs/vimtex.lua
Due: .config/nvim

fix(kde,wayland,thunderbird,systray-x): cannot minimize thunderbird to tray on wayland
  .local/share/applications/org.mozilla.Thunderbird.desktop
Due: none

feat(kde,autostart): autostart thunderbird
  .config/autostart/org.mozilla.Thunderbird.desktop
  .config/startkderc
Due: none

fix(nvim): oil conceal not working on startup with `nvim <dir>`
  .config/nvim/lua/plugins/tools.lua
Due: .config/nvim

fix(bin): check hidden files/dirs in extracted dir in script `ex`
  .bin/ex
Due: .bin

fix(nvim): cannot auto-sync (forward search) pdf with tex in multi-tex projects
  .config/nvim/lua/configs/vimtex.lua
Due: .config/nvim

fix(nvim): opencode footer winhl overridden by markdown treesitter hl
  .config/nvim/lua/configs/opencode.lua
Due: .config/nvim

style(nvim): format with stylua
  .config/nvim/lua/configs/blink-cmp.lua
  .config/nvim/lua/configs/gitsigns.lua
  .config/nvim/lua/configs/oil.lua
  .config/nvim/lua/configs/vim-table-mode.lua
  .config/nvim/lua/configs/which-key.lua
  .config/nvim/lua/utils/snippets/nodes.lua
Due: .config/nvim

chore(nvim): condense luasnip tab-mapping comments
  .config/nvim/lua/configs/luasnip.lua
Due: .config/nvim

chore(nvim): clarity desc for trailing whitespace deletion keymap
  .config/nvim/lua/core/keymaps.lua
Due: .config/nvim

refactor(nvim)!: remove plugin vim-python-pep8-indent
  .config/nvim/README.md
  .config/nvim/lua/plugins/langs.lua
  .config/nvim/package-lock.json
Due: .config/nvim

chore(nvim): update nvim & plugins
  .config/nvim/nvim-version.txt
  .config/nvim/package-lock.json
Due: .config/nvim

refactor(nvim): rename `utils.ft` to `utils.load`
  .config/nvim/lua/configs/luasnip.lua
  .config/nvim/lua/configs/nvim-dap.lua
  .config/nvim/lua/configs/vim-projectionist.lua
  .config/nvim/lua/configs/vim-test.lua
  .config/nvim/lua/utils/init.lua
  .config/nvim/lua/utils/load.lua
Due: .config/nvim

refactor(nvim): remove rtp configs in lazy.nvim setup
  .config/nvim/lua/core/plugins.lua
Due: .config/nvim

fix(nvim): pass plugin spec to init
  .config/nvim/lua/core/plugins.lua
Due: .config/nvim
