Repository Bekaboo/dot: changes, and which pre-commit hooks are due for each by the changed paths.
All: .config/nvim, .config/fish, .bin

.pre-commit-config.yaml:

#vim:ft=yaml:sw=2:sts=2:

repos:
  # Prevent secret leak in commits
  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.24.2
    hooks:
      - id: gitleaks

  # Dotfiles repo can be considered as a monorepo, sub-configs can have their
  # own pre-commit configs in corresponding sub-directories
  #
  # Pre-commit config file in sub-dirs must not be named with
  # `.pre-commit-config`, else pre-commit will fail with
  # 'Your pre-commit configuration is unstaged.'
  - repo: local
    hooks:
      - id: .config/nvim
        name: Hooks for neovim config
        entry: sh -c 'cd .config/nvim && pre-commit run -c .pre-commit-config.local.yaml && cd -'
        language: system
        files: ^\.config/nvim/
        verbose: true

      - id: .config/fish
        name: Hooks for fish config
        entry: sh -c 'cd .config/fish && pre-commit run -c .pre-commit-config.local.yaml && cd -'
        language: system
        files: ^\.config/fish/
        verbose: true

      - id: .bin
        name: Hooks for sh scripts under .bin
        entry: sh -c 'cd .bin && pre-commit run -c .pre-commit-config.local.yaml && cd -'
        language: system
        files: ^\.bin/
        verbose: true

      # Lint and format shell scripts under home directory
      - id: sh-format
        name: Shell script format
        entry: shfmt -w
        language: system
        types: [shell]

      - id: sh-lint
        name: Shell script lint
        entry: shellcheck
        language: system
        types: [shell]

refactor(nvim): needn't assign new local var in plugin im windows source
  .config/nvim/lua/my/plugin/im/backends/windows.lua
Due: .config/nvim

test(bin): fix `init_env()` being removed
  .bin/tests/test-macos-im-switch.sh
Due: .bin

refactor(nvim): remove input mode guard in `backend:on_input_{enter,leave}`
  .config/nvim/lua/my/plugin/im/backends/fcitx.lua
  .config/nvim/lua/my/plugin/im/backends/macos.lua
  .config/nvim/lua/my/plugin/im/backends/windows.lua
  .config/nvim/lua/my/plugin/im/init.lua
Due: .config/nvim

revert: "feat(nvim): make `inside_input_mode()` configurable in plugin im"
  .config/nvim/lua/my/plugin/im/backends/fcitx.lua
  .config/nvim/lua/my/plugin/im/backends/macos.lua
  .config/nvim/lua/my/plugin/im/backends/windows.lua
  .config/nvim/lua/my/plugin/im/init.lua
  .config/nvim/lua/my/plugin/im/utils.lua
Due: .config/nvim

chore(nvim): remove extra field annotation of `my.im.backends` (typing)
  .config/nvim/lua/my/plugin/im/backends/init.lua
Due: .config/nvim

revert: "feat(nvim): make backends configurable in plugin im"
  .config/nvim/lua/my/plugin/im/backends/init.lua
  .config/nvim/lua/my/plugin/im/configs.lua
Due: .config/nvim

fix(nvim): input method status not properly set switching bufs
  .config/nvim/lua/my/plugin/im/backends/fcitx.lua
  .config/nvim/lua/my/plugin/im/backends/init.lua
  .config/nvim/lua/my/plugin/im/backends/macos.lua
  .config/nvim/lua/my/plugin/im/backends/windows.lua
  .config/nvim/lua/my/plugin/im/init.lua
Due: .config/nvim

chore(nvim): move plugin im design to `setup()` function desc
  .config/nvim/lua/my/plugin/im/init.lua
Due: .config/nvim

feat(git): add aliases for `git am` and `git format-patch`
  .gitconfig
Due: none

refactor(bin,tmux)!: remove `tmux-im`'s `clear-status` subcommand (not used)
  .bin/tmux-im
  .config/fish/completions/tmux-im.fish
  .config/tmux/tmux.conf
Due: .config/fish, .bin

fix(nvim): plugin 'session' not loaded on `:Restart` command
  .config/nvim/plugin/_load.lua
Due: .config/nvim

refactor(git)!: remove unused 'lca' git alias for line counting
  .gitconfig
Due: none

refactor(bin,tmux): rename `tmux-im`'s subcommand `force-off` to `off`
  .bin/tmux-im
  .config/fish/completions/tmux-im.fish
  .config/tmux/tmux.conf
Due: .config/fish, .bin

fix(kitty): preserve kitty shortcuts
  .config/kitty/kitty.conf
Due: none

fix(nvim): treesitter not enabled for filetypes with 3rd party parsers e.g. kitty
  .config/nvim/lua/my/core/treesitter.lua
Due: .config/nvim

chore(git): add usage hint for `git ff` alias
  .gitconfig
Due: none

feat(git): prioritize `nvim`, fallback to `vim` for git `vimdiff` tool
  .gitconfig
Due: none

fix(vim): quickfix/location list navigation keymaps
  .vimrc
Due: none

feat(vim,nvim)!: add keymaps to jump to git conflicts
  .config/nvim/lua/my/core/keymaps.lua
  .config/nvim/lua/my/pack/specs/opt/nvim-treesitter-textobjects.lua
  .vimrc
Due: .config/nvim

refactor(git)!: simplify `git ff/gr` flags
  .gitconfig
Due: none

refactor(git)!: use 'wb' as alias for `git log --diff-filter=B`
  .gitconfig
Due: none

refactor(git)!: remove aliases for `git log --diff-filter=...` except for `--diff-filter=A`
  .gitconfig
Due: none

feat(bin): rename `getcursorpos` to `cursorpos`
  .bin/cursorpos
  .bin/fzf-wrapper
Due: .bin

perf(fish): use single `perl` proc to boost `cursorpos` on macOS
  .config/fish/functions/cursorpos.fish
Due: .config/fish

docs(nvim): improve `AGENTS.md` for plugin loading and module definitions
  .config/nvim/AGENTS.md
Due: .config/nvim

fix(bin): add guards for `qdbus` existence in `setbg` script
  .bin/setbg
Due: .bin

refactor(nvim): extract `load_runtime()` (load rplugins & providers) in `core.opts`
  .config/nvim/lua/my/core/opts.lua
Due: .config/nvim

feat(tmux): don't go past EOL with `$` in copy-mode-vi (vim: `selection=old`)
  .config/tmux/tmux.conf
Due: none

fix(git): missing hyphen ('-') in `git am` aliases
  .gitconfig
Due: none

fix(nvim): `hl-StatusLineGitBranch` visibility in stata colorscheme
  .config/nvim/colors/stata.lua
Due: .config/nvim

feat(firefox): square firefox UI
  .mozilla/firefox/uhdrh3mw.default-release/chrome/userChrome.css
  .mozilla/firefox/uhdrh3mw.default-release/chrome/userContent.css
  .mozilla/firefox/uhdrh3mw.default-release/chrome/userVariables.css
Due: none

fix(firefox): square all elements in `about:preferences` page
  .mozilla/firefox/uhdrh3mw.default-release/chrome/userContent.css
Due: none

fix(firefox): square firefox view page
  .mozilla/firefox/uhdrh3mw.default-release/chrome/userContent.css
Due: none

feat(thunderbird): square all UI elements
  .thunderbird/ic5eiguz.default-release/chrome/userChrome.css
  .thunderbird/ic5eiguz.default-release/chrome/userContent.css
  .thunderbird/ic5eiguz.default-release/chrome/userVariables.css
Due: none

refactor(firefox,thunderbird): move chrome CSS to stable config paths
  .config/firefox/chrome/userChrome.css
  .config/firefox/chrome/userContent.css
  .config/firefox/chrome/userVariables.css
  .config/thunderbird/chrome/userChrome.css
  .config/thunderbird/chrome/userContent.css
  .config/thunderbird/chrome/userVariables.css
Due: none

fix(firefox): square home page widgets
  .config/firefox/chrome/userContent.css
Due: none

fix(firefox): square urlbar dropdown panel
  .config/firefox/chrome/userChrome.css
Due: none

feat(opencode): add dot file management skill
  .config/opencode/skills/dotfile-management/SKILL.md
Due: none

feat(opencode): add create-skill skill
  .config/opencode/skills/create-skill/SKILL.md
Due: none

refactor(vim,nvim,tmux)!: select past EOL in visual/copy mode (restore `sel=inclusive`)
  .config/nvim/lua/my/core/opts.lua
  .config/tmux/tmux.conf
  .vimrc
Due: .config/nvim
