Repository Bekaboo/dot: changes, and which pre-commit hooks are due for each by the changed paths.
All: .config/nvim, .config/fish, .bin

.pre-commit-config.yaml:

#vim:ft=yaml:sw=2:sts=2:

repos:
  # Prevent secret leak in commits
  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.24.2
    hooks:
      - id: gitleaks

  # Dotfiles repo can be considered as a monorepo, sub-configs can have their
  # own pre-commit configs in corresponding sub-directories
  #
  # Pre-commit config file in sub-dirs must not be named with
  # `.pre-commit-config`, else pre-commit will fail with
  # 'Your pre-commit configuration is unstaged.'
  - repo: local
    hooks:
      - id: .config/nvim
        name: Hooks for neovim config
        entry: sh -c 'cd .config/nvim && pre-commit run -c .pre-commit-config.local.yaml && cd -'
        language: system
        files: ^\.config/nvim/
        verbose: true

      - id: .config/fish
        name: Hooks for fish config
        entry: sh -c 'cd .config/fish && pre-commit run -c .pre-commit-config.local.yaml && cd -'
        language: system
        files: ^\.config/fish/
        verbose: true

      - id: .bin
        name: Hooks for sh scripts under .bin
        entry: sh -c 'cd .bin && pre-commit run -c .pre-commit-config.local.yaml && cd -'
        language: system
        files: ^\.bin/
        verbose: true

      # Lint and format shell scripts under home directory
      - id: sh-format
        name: Shell script format
        entry: shfmt -w
        language: system
        types: [shell]

      - id: sh-lint
        name: Shell script lint
        entry: shellcheck
        language: system
        types: [shell]

chore(nvim): improve desc of `pack.structured_spec.data.optional`
  .config/nvim/lua/utils/pack.lua
Due: .config/nvim

feat(nvim): add statusline git branch sign color in sonokai colorscheme
  .config/nvim/colors/sonokai.lua
Due: .config/nvim

fix(nvim): treesitter hl causes color change in medium-size files
  .config/nvim/lua/core/treesitter.lua
Due: .config/nvim

refactor(nvim): simplify `syntax` setting after stopping treesitter
  .config/nvim/lua/core/autocmds.lua
Due: .config/nvim

fix(nvim): nvim is blocked after opening LSP hover markdown doc
  .config/nvim/lua/core/autocmds.lua
  .config/nvim/lua/core/treesitter.lua
Due: .config/nvim

perf(nvim): avoid calling `vim.treesitter` funcs at startup
  .config/nvim/lua/core/autocmds.lua
  .config/nvim/lua/core/treesitter.lua
Due: .config/nvim

fix(fzf): hide gutter in latest fzf
  .config/fish/conf.d/fzf.fish
  .profile
Due: .config/fish

feat(nvim): add keymaps to select inside comments
  .config/nvim/lua/pack/specs/opt/nvim-treesitter-textobjects.lua
Due: .config/nvim

feat(bash,fish): add alias/abbreviation 'xr' -> 'trash-restore'
  .bashrc
  .config/fish/conf.d/abbr.fish
Due: .config/fish

feat(nvim): add new lsp subcommand `selection_range`
  .config/nvim/lua/plugin/lsp-commands.lua
Due: .config/nvim

refactor(nvim): clean up `utils.cmd.complete()`
  .config/nvim/lua/utils/cmd.lua
Due: .config/nvim

refactor(fish)!: remove spell-fix abbreviations
  .config/fish/conf.d/abbr.fish
Due: .config/fish

refactor(vim): set `colorcolumn` to '+1'
  .vimrc
Due: none

refactor(bash,fish)!: remove some aliases/abbrevs
  .bashrc
  .config/fish/conf.d/abbr.fish
Due: .config/fish

refactor(fish): remove completion for deleted `bak`
  .config/fish/completions/bak.fish
Due: .config/fish

refactor(fish): rename config `postexec.fish` to `postexec-newline.fish`
  .config/fish/conf.d/postexec-newline.fish
Due: .config/fish

refactor(fish): remove completions for deleted `rsync-fetch/push/sync`
  .config/fish/completions/rsync-fetch.fish
  .config/fish/completions/rsync-push.fish
  .config/fish/completions/rsync-sync.fish
Due: .config/fish

chore(nvim): update nvim
  .config/nvim/nvim-version.txt
Due: .config/nvim

feat(fish): don't add extra newline after clearing the terminal
  .config/fish/conf.d/postexec-newline.fish
  .config/fish/functions/cursorpos.fish
Due: .config/fish

chore(nvim): update plugins
  .config/nvim/lua/pack/specs/opt/opencode.lua
  .config/nvim/nvim-pack-lock.json
Due: .config/nvim

feat(nvim): add scala lsp (metals)
  .config/nvim/after/lsp/metals.lua
Due: .config/nvim

fix(nvim): don't override `vim.ui.select()` if fzf is not executable
  .config/nvim/lua/pack/specs/start/fzf-lua.lua
Due: .config/nvim

refactor(alacritty,kitty,wezterm): include theme config once
  .config/alacritty/alacritty.toml
  .config/kitty/kitty.conf
  .config/wezterm/wezterm.lua
Due: none

feat(nvim,alacritty,foot,kitty,wezterm,konsole,termux,highlight,fish,kde): add onedark theme
  .config/alacritty/themes/onedark-dark.toml
  .config/alacritty/themes/onedark-light.toml
  .config/fish/completions/setcolor.fish
  .config/fish/themes/Onedark Dark.theme
  .config/fish/themes/Onedark Light.theme
  .config/kitty/themes/onedark-dark.conf
  .config/kitty/themes/onedark-light.conf
  .config/nvim/lua/pack/specs/start/onedark.lua
  .config/nvim/nvim-pack-lock.json
  .config/wezterm/colors/onedark-dark.toml
  .config/wezterm/colors/onedark-light.toml
  .highlight/themes/onedark-dark.theme
  .highlight/themes/onedark-light.theme
  .local/share/color-schemes/OnedarkDark.colors
  .local/share/color-schemes/OnedarkLight.colors
  .local/share/konsole/Onedark Dark.colorscheme
  .local/share/konsole/Onedark Dark.profile
  .local/share/konsole/Onedark Light.colorscheme
  .local/share/konsole/Onedark Light.profile
  .termux/colors/onedark-dark.properties
  .termux/colors/onedark-light.properties
Due: .config/nvim, .config/fish

feat(kde): add wallpaper 'Sound'
  .local/share/wallpapers/Sound/contents/images/3840x2160.png
  .local/share/wallpapers/Sound/contents/images_dark/3840x2160.png
  .local/share/wallpapers/Sound/metadata.desktop
  .local/share/wallpapers/Sound/metadata.json
Due: none

feat(nvim): set 'Sound' as default wallpaper for onedark theme
  .bin/setcolor
Due: .bin

fix(kde): add wallpaper `metadata.desktop` files
  .local/share/wallpapers/Clouds/metadata.desktop
  .local/share/wallpapers/Fish/metadata.desktop
  .local/share/wallpapers/Foggy Forest/metadata.desktop
  .local/share/wallpapers/Mountains and Clouds/metadata.desktop
  .local/share/wallpapers/Quiet Night/metadata.desktop
  .local/share/wallpapers/Rain on Glass/metadata.desktop
Due: none

refactor(nvim): clean up colorscheme syncing autocmd
  .config/nvim/lua/core/autocmds.lua
Due: .config/nvim

refactor(nvim): clean up colorscheme loading
  .config/nvim/lua/core/autocmds.lua
Due: .config/nvim

refactor(nvim): rename `d` -> `c` in colorscheme restore autocmd
  .config/nvim/lua/core/autocmds.lua
Due: .config/nvim

fix(nvim): treesitter `@spell` not respected by spellcheck
  .config/nvim/lua/core/opts.lua
Due: .config/nvim

fix(nvim): `utils.ts.is_active()` returns false positive
  .config/nvim/lua/utils/ts.lua
Due: .config/nvim

fix(nvim): treesitter hl not automatically started
  .config/nvim/lua/core/treesitter.lua
Due: .config/nvim

refactor(nvim): clean up `utils.hl.is_active()` buf resolving
  .config/nvim/lua/utils/ts.lua
Due: .config/nvim

fix(bin): check fish theme existence before linking in `setcolor`
  .bin/setcolor
Due: .bin

fix(bin): `setbg` does not work with kde plasma onedark theme
  .bin/setbg
Due: .bin

feat(bash,fish): add alias/abbrev 'tf' -> 'terraform'
  .bashrc
  .config/fish/conf.d/abbr.fish
Due: .config/fish

fix(bash): error if git is not executable
  .bashrc
Due: none

chore(nvim): fix typing `utils.key.with_cursorpos/lazyredraw`
  .config/nvim/lua/utils/key.lua
Due: .config/nvim

feat(nvim): add `utils.key.with_winview()`
  .config/nvim/lua/utils/key.lua
Due: .config/nvim
