Repository Bekaboo/dot: changes, and which pre-commit hooks are due for each by the changed paths.
All: .config/nvim, .config/fish, .bin

.pre-commit-config.yaml:

#vim:ft=yaml:sw=2:sts=2:

repos:
  # Prevent secret leak in commits
  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.24.2
    hooks:
      - id: gitleaks

  # Dotfiles repo can be considered as a monorepo, sub-configs can have their
  # own pre-commit configs in corresponding sub-directories
  #
  # Pre-commit config file in sub-dirs must not be named with
  # `.pre-commit-config`, else pre-commit will fail with
  # 'Your pre-commit configuration is unstaged.'
  - repo: local
    hooks:
      - id: .config/nvim
        name: Hooks for neovim config
        entry: sh -c 'cd .config/nvim && pre-commit run -c .pre-commit-config.local.yaml && cd -'
        language: system
        files: ^\.config/nvim/
        verbose: true

      - id: .config/fish
        name: Hooks for fish config
        entry: sh -c 'cd .config/fish && pre-commit run -c .pre-commit-config.local.yaml && cd -'
        language: system
        files: ^\.config/fish/
        verbose: true

      - id: .bin
        name: Hooks for sh scripts under .bin
        entry: sh -c 'cd .bin && pre-commit run -c .pre-commit-config.local.yaml && cd -'
        language: system
        files: ^\.bin/
        verbose: true

      # Lint and format shell scripts under home directory
      - id: sh-format
        name: Shell script format
        entry: shfmt -w
        language: system
        types: [shell]

      - id: sh-lint
        name: Shell script lint
        entry: shellcheck
        language: system
        types: [shell]

style(bin): shorten arg parse code in `trans`
  .bin/trans
Due: .bin

feat(nvim)!: don't map `~` to `mention_file` in insert mode
  .config/nvim/lua/my/pack/specs/opt/opencode.lua
Due: .config/nvim

fix(bin): offset popup pos by pane coordinates in `tmux-trans-popup`
  .bin/tmux-trans-popup
Due: .bin

chore(nvim): update plugins
  .config/nvim/nvim-pack-lock.json
Due: .config/nvim

feat(opencode): disable autoupdate notifications
  .config/opencode/opencode.json
Due: none

feat(opencode,claudecode): add `CLAUDE.md`/`AGENTS.md`
  .claude/CLAUDE.md
  .config/opencode/AGENTS.md
Due: none

feat(opencode): split reminders into sections
  .config/opencode/AGENTS.md
Due: none

fix(nvim): cmd compltion nil error if `optkey` is a flag
  .config/nvim/lua/my/utils/cmd.lua
Due: .config/nvim

feat(opencode): add md-lint plugin with biome formatter config
  .config/opencode/.editorconfig
  .config/opencode/biome.json
  .config/opencode/plugins/md-lint.ts
Due: none

revert: "refactor(nvim)!: remove fcitx5 plugin"
  .config/nvim/README.md
  .config/nvim/lua/my/plugin/fcitx5.lua
  .config/nvim/plugin/_load.lua
Due: .config/nvim

refactor(nvim): rename plugin 'fcitx5' to 'im'
  .config/nvim/README.md
  .config/nvim/lua/my/plugin/im.lua
  .config/nvim/plugin/_load.lua
Due: .config/nvim

feat(nvim): refactor plugin im and add macos backend
  .config/nvim/lua/my/plugin/im/backends/fcitx.lua
  .config/nvim/lua/my/plugin/im/backends/init.lua
  .config/nvim/lua/my/plugin/im/backends/macos.lua
  .config/nvim/lua/my/plugin/im/init.lua
  .config/nvim/lua/my/plugin/im/utils.lua
Due: .config/nvim

feat(nvim): make backends configurable in plugin im
  .config/nvim/lua/my/plugin/im/backends/init.lua
  .config/nvim/lua/my/plugin/im/configs.lua
Due: .config/nvim

feat(nvim): add windows support for plugin im
  .config/nvim/lua/my/plugin/im/backends/init.lua
  .config/nvim/lua/my/plugin/im/backends/windows.lua
Due: .config/nvim

docs(nvim): add `AGENTS.md`
  .config/nvim/AGENTS.md
Due: .config/nvim

feat(nvim): make `inside_input_mode()` configurable in plugin im
  .config/nvim/lua/my/plugin/im/backends/fcitx.lua
  .config/nvim/lua/my/plugin/im/backends/macos.lua
  .config/nvim/lua/my/plugin/im/backends/windows.lua
  .config/nvim/lua/my/plugin/im/init.lua
  .config/nvim/lua/my/plugin/im/utils.lua
Due: .config/nvim

feat(tmux): automatically turn on/off input method in tmux according to mode
  .bin/tmux-im
  .config/tmux/tmux.conf
Due: .bin

fix(nvim): codeblock not rendered for the 2nd markdown file
  .config/nvim/after/ftplugin/markdown/codeblock.lua
Due: .config/nvim

chore(yay): update yay
  .config/yay/config.json
Due: none

perf(nvim)!: don't re-trigger events for loaders by default
  .config/nvim/lua/my/utils/load.lua
Due: .config/nvim

refactor(nvim): deprecate `opts.buffer`, use new `opts.buf`
  .config/nvim/lua/my/core/keymaps.lua
  .config/nvim/lua/my/utils/key.lua
  .config/nvim/lua/my/utils/load.lua
Due: .config/nvim

fix(tmux): input method not toggled on/off switching between panes
  .config/tmux/tmux.conf
Due: none

fix(tmux): guard input method auto-switch by `tmux-im` existence
  .config/tmux/tmux.conf
Due: none

fix(bin): replace file-based cache with tmux pane variables in `tmux-im`
  .bin/tests/test-tmux-im.sh
  .bin/tests/utils.sh
  .bin/tmux-im
  .config/tmux/tmux.conf
Due: .bin

test(bin): error removing system temp dir on macOS in `test-tmux-im.sh`
  .bin/tests/test-tmux-im.sh
  .bin/tests/utils.sh
Due: .bin

test(bin): add `uname` mock (always return 'Linux')for `test-tmux-im.sh`
  .bin/tests/test-tmux-im.sh
Due: .bin

fix(bin): add `macos-im-switch` to replace `macism` for focus-free IM switching
  .bin/.gitignore
  .bin/src/macos_im_switch/.clang-format
  .bin/src/macos_im_switch/.gitignore
  .bin/src/macos_im_switch/Makefile
  .bin/src/macos_im_switch/README.md
  .bin/src/macos_im_switch/main.c
  .bin/tests/test-macos-im-switch.sh
  .bin/tmux-im
Due: .bin

test(bin): remvoe `uname` mock and add tests for macOS in `test-tmux-im.sh`
  .bin/tests/test-tmux-im.sh
Due: .bin

test(bin): rename `TESTED_DIR` to `TESTED_BIN` and init in `init_env()`
  .bin/tests/test-tmux-im.sh
  .bin/tests/utils.sh
Due: .bin

test(bin): `readlink` has no `-f` flag on macOS (POSIX-compatibility)
  .bin/tests/test-tmux-im.sh
  .bin/tests/utils.sh
Due: .bin

fix(bin): `macism` requires real input source instead of 'ABC'/'CJK'
  .bin/tests/test-tmux-im.sh
  .bin/tmux-im
Due: .bin

test(bin): don't export vars unless necessary in `test-tmux-im.sh`
  .bin/tests/test-tmux-im.sh
Due: .bin

test(bin): add tests for Windows in `test-tmux-im.sh`
  .bin/tests/test-tmux-im.sh
Due: .bin

feat(fish): add completions for `tmux-im` and `macos-im-switch`
  .config/fish/completions/macos-im-switch.fish
  .config/fish/completions/tmux-im.fish
Due: .config/fish

test(bin): explicitly set vars instead of export indirectly in `init_env()`
  .bin/tests/test-tmux-im.sh
  .bin/tests/utils.sh
Due: .bin

refactor(bin,tmux): decouple `has` script, use `command -v` instead
  .bin/fugitive-gbrowse
  .bin/fzf-file-previewer
  .bin/fzf-wrapper
  .bin/getcolor
  .bin/getcursorpos
  .bin/gr
  .bin/gx
  .bin/has
  .bin/nvim-socks
  .bin/pacman-comment
  .bin/plasma-get-current-colorscheme
  .bin/plasma-get-current-desktoptheme
  .bin/plasma-save-current-session
  .bin/qdbus-call-service-method
  .bin/setbg
  .bin/setcolor
  .bin/suggestbg
  .bin/testcolors
  .bin/whereami
  .config/tmux/tmux.conf
Due: .bin

feat(nvim): add sh/fish snippet 'has' to check command existence
  .config/nvim/lua/my/pack/res/luasnip/snippets/fish.lua
  .config/nvim/lua/my/pack/res/luasnip/snippets/sh.lua
Due: .config/nvim

feat(nvim): don't show word counts in statusline for binary files
  .config/nvim/lua/my/plugin/statusline.lua
Due: .config/nvim

feat(nvim): use POSIX-compatible command to find script dir in sh snippets
  .config/nvim/lua/my/pack/res/luasnip/snippets/sh.lua
Due: .config/nvim

fix(nvim): use `macos-im-switch` instead of `macism`
  .config/nvim/lua/my/plugin/im/backends/macos.lua
Due: .config/nvim
