Repository Bekaboo/dot: changes, and which pre-commit hooks are due for each by the changed paths.
All: .config/nvim, .config/fish, .bin

.pre-commit-config.yaml:

#vim:ft=yaml:sw=2:sts=2:

repos:
  # Prevent secret leak in commits
  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.24.2
    hooks:
      - id: gitleaks

  # Dotfiles repo can be considered as a monorepo, sub-configs can have their
  # own pre-commit configs in corresponding sub-directories
  #
  # Pre-commit config file in sub-dirs must not be named with
  # `.pre-commit-config`, else pre-commit will fail with
  # 'Your pre-commit configuration is unstaged.'
  - repo: local
    hooks:
      - id: .config/nvim
        name: Hooks for neovim config
        entry: sh -c 'cd .config/nvim && pre-commit run -c .pre-commit-config.local.yaml && cd -'
        language: system
        files: ^\.config/nvim/
        verbose: true

      - id: .config/fish
        name: Hooks for fish config
        entry: sh -c 'cd .config/fish && pre-commit run -c .pre-commit-config.local.yaml && cd -'
        language: system
        files: ^\.config/fish/
        verbose: true

      - id: .bin
        name: Hooks for sh scripts under .bin
        entry: sh -c 'cd .bin && pre-commit run -c .pre-commit-config.local.yaml && cd -'
        language: system
        files: ^\.bin/
        verbose: true

      # Lint and format shell scripts under home directory
      - id: sh-format
        name: Shell script format
        entry: shfmt -w
        language: system
        types: [shell]

      - id: sh-lint
        name: Shell script lint
        entry: shellcheck
        language: system
        types: [shell]

feat(opencode): improve drawio img quality (straight arrows and connections)
  .config/opencode/skills/drawio-paper-figure/SKILL.md
Due: none

feat(nvim): use source img filename as default pasted img name
  .config/nvim/lua/my/pack/specs/opt/img-clip.lua
Due: .config/nvim

feat(nvim): cancel img pasting with '<Esc>' or empty input
  .config/nvim/lua/my/pack/specs/opt/img-clip.lua
Due: .config/nvim

fix(nvim): include img filename extension in img-clip prompt
  .config/nvim/lua/my/pack/specs/opt/img-clip.lua
Due: .config/nvim

refactor(nvim): img-clip config cleanup
  .config/nvim/lua/my/pack/specs/opt/img-clip.lua
Due: .config/nvim

chore(nvim): update plugins
  .config/nvim/nvim-pack-lock.json
Due: .config/nvim

style(nvim): format with stylua
  .config/nvim/lua/my/pack/res/luasnip/snippets/all.lua
Due: .config/nvim

perf(nvim): load lsp configs by calling `vim.lsp.enable()` once
  .config/nvim/lua/my/core/lsp.lua
Due: .config/nvim

feat(nvim): make `:GBrowse` and `y<C-g>` work for single commit in logs
  .config/nvim/lua/my/pack/specs/opt/vim-fugitive.lua
Due: .config/nvim

fix(nvim): resolve fugitive output objects under cursor
  .config/nvim/lua/my/pack/specs/opt/vim-fugitive.lua
Due: .config/nvim

fix(nvim): oil loading autocmd not deleted due to `vim.schedule_wrap`
  .config/nvim/lua/my/pack/specs/start/oil.lua
Due: .config/nvim

fix(nvim): oil dir buf not loaded after loading a session file
  .config/nvim/lua/my/pack/specs/start/oil.lua
Due: .config/nvim

feat(nvim): add keymap `gY` to yank relative path (to proj root) in oil
  .config/nvim/lua/my/pack/specs/start/oil.lua
Due: .config/nvim

refactor(nvim)!: use `gy`/`gY` for relative/full path in oil respectively
  .config/nvim/lua/my/pack/specs/start/oil.lua
Due: .config/nvim

revert: "refactor(nvim): by default show hidden files in oil bufs"
  .config/nvim/lua/my/pack/specs/start/oil.lua
Due: .config/nvim

fix(nvim): oil dir buf on another tab not loaded
  .config/nvim/lua/my/pack/specs/start/oil.lua
Due: .config/nvim

fix(nvim): dependency-only plugins loaded eagerly
  .config/nvim/lua/my/utils/pack.lua
Due: .config/nvim

fix(nvim): suppress confirm prompts caused by oil lazy-loading callback
  .config/nvim/lua/my/pack/specs/start/oil.lua
Due: .config/nvim

perf(nvim): avoid retriggering FileType for endwise
  .config/nvim/lua/my/pack/specs/opt/nvim-treesitter-endwise.lua
Due: .config/nvim

perf(nvim): defer markdown decorations until UIEnter
  .config/nvim/after/ftplugin/markdown/codeblock.lua
Due: .config/nvim

perf(nvim): only render visible markdown codeblocks & dash separations
  .config/nvim/after/ftplugin/markdown/codeblock.lua
Due: .config/nvim

perf(nvim): lazy-load markdown-preview plugin on demand
  .config/nvim/lua/my/pack/specs/opt/markdown-preview.lua
Due: .config/nvim

perf(nvim): use byte-compiled plugin spec modules
  .config/nvim/lua/my/core/pack.lua
Due: .config/nvim

fix(nvim): preserve symbolic refs (e.g. branches) in fugitive targets
  .config/nvim/lua/my/pack/specs/opt/vim-fugitive.lua
Due: .config/nvim

feat(tmux): disable input method in tmux keychords
  .config/tmux/tmux.conf
Due: none

feat(tmux): disable input method in command prompts; restore in search
  .config/tmux/tmux.conf
Due: none

feat(tmux): add `x` binding to open arbitrary URI
  .config/tmux/tmux.conf
Due: none

fix(bin): `--to` should take precedence over `--pair` in `trans` script
  .bin/trans
Due: .bin

feat(nvim): add plugin trans to translate selected text
  .config/nvim/README.md
  .config/nvim/lua/my/plugin/trans.lua
  .config/nvim/plugin/_load.lua
Due: .config/nvim

perf(nvim): defer fzf-lua and oil spec loading
  .config/nvim/lua/my/pack/specs/opt/fzf-lua.lua
  .config/nvim/lua/my/pack/specs/opt/oil.lua
Due: .config/nvim

refactor(nvim): manage colorcolumn and intro plugin via `my.utils.pack`
  .config/nvim/README.md
  .config/nvim/lua/my/pack/specs/start/colorcolumn.lua
  .config/nvim/lua/my/pack/specs/start/intro.lua
  .config/nvim/lua/my/plugin/colorcolumn.lua
  .config/nvim/lua/my/plugin/intro.lua
  .config/nvim/lua/my/plugin/session.lua
Due: .config/nvim

refactor(nvim)!: remove opencode plugin
  .config/nvim/lua/my/pack/specs/opt/opencode.lua
  .config/nvim/nvim-pack-lock.json
Due: .config/nvim

fix(nvim): showing 'HEAD' as branch when detached in statusline
  .config/nvim/lua/my/plugin/statusline.lua
Due: .config/nvim

feat(nvim): add `vim.g.loaded_*` checks for tabline, statusline, and statuscolumn plugin
  .config/nvim/lua/my/plugin/statuscolumn.lua
  .config/nvim/lua/my/plugin/statusline.lua
  .config/nvim/lua/my/plugin/tabline.lua
Due: .config/nvim

refactor(nvim): manage some built-in plugins via `my.utils.pack`
  .config/nvim/lua/my/core/pack.lua
  .config/nvim/lua/my/pack/specs/opt/addasync.lua
  .config/nvim/lua/my/pack/specs/opt/expandtab.lua
  .config/nvim/lua/my/pack/specs/opt/im.lua
  .config/nvim/lua/my/pack/specs/opt/jupytext.lua
  .config/nvim/lua/my/pack/specs/opt/lsp-commands.lua
  .config/nvim/lua/my/pack/specs/opt/readline.lua
  .config/nvim/lua/my/pack/specs/opt/session.lua
  .config/nvim/lua/my/pack/specs/opt/tabout.lua
  .config/nvim/lua/my/pack/specs/opt/term.lua
  .config/nvim/lua/my/pack/specs/opt/tmux.lua
  .config/nvim/lua/my/pack/specs/opt/trans.lua
  .config/nvim/lua/my/pack/specs/opt/z.lua
  .config/nvim/lua/my/pack/specs/start/oil.lua
  .config/nvim/lua/my/pack/specs/start/statuscolumn.lua
  .config/nvim/lua/my/pack/specs/start/statusline.lua
  .config/nvim/lua/my/pack/specs/start/tabline.lua
  .config/nvim/lua/my/pack/specs/start/vscode.lua
  .config/nvim/lua/my/pack/specs/start/winbar.lua
  .config/nvim/lua/my/plugin/vscode.lua
  .config/nvim/lua/my/utils/pack.lua
  .config/nvim/nvim-pack-lock.json
  .config/nvim/plugin/_load.lua
Due: .config/nvim

fix(statusline): statusline shows empty string as git branch in bare repo
  .config/nvim/lua/my/plugin/statusline.lua
Due: .config/nvim

feat(tmux): use `*`/`#` to search selection (align with nvim default)
  .config/tmux/tmux.conf
Due: none

feat(nvim): preserve indent in trans popup
  .config/nvim/lua/my/plugin/trans.lua
Due: .config/nvim

chore(kde): update `kglobalshortcutsrc`
  .config/kglobalshortcutsrc
Due: none

feat(kde,krohnkite): don't tile Wechat image/video window
  .config/kwinrc
Due: none
