Repository Bekaboo/dot: changes, and which pre-commit hooks are due for each by the changed paths.
All: .config/nvim, .config/fish, .bin

.pre-commit-config.yaml:

#vim:ft=yaml:sw=2:sts=2:

repos:
  # Prevent secret leak in commits
  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.24.2
    hooks:
      - id: gitleaks

  # Dotfiles repo can be considered as a monorepo, sub-configs can have their
  # own pre-commit configs in corresponding sub-directories
  #
  # Pre-commit config file in sub-dirs must not be named with
  # `.pre-commit-config`, else pre-commit will fail with
  # 'Your pre-commit configuration is unstaged.'
  - repo: local
    hooks:
      - id: .config/nvim
        name: Hooks for neovim config
        entry: sh -c 'cd .config/nvim && pre-commit run -c .pre-commit-config.local.yaml && cd -'
        language: system
        files: ^\.config/nvim/
        verbose: true

      - id: .config/fish
        name: Hooks for fish config
        entry: sh -c 'cd .config/fish && pre-commit run -c .pre-commit-config.local.yaml && cd -'
        language: system
        files: ^\.config/fish/
        verbose: true

      - id: .bin
        name: Hooks for sh scripts under .bin
        entry: sh -c 'cd .bin && pre-commit run -c .pre-commit-config.local.yaml && cd -'
        language: system
        files: ^\.bin/
        verbose: true

      # Lint and format shell scripts under home directory
      - id: sh-format
        name: Shell script format
        entry: shfmt -w
        language: system
        types: [shell]

      - id: sh-lint
        name: Shell script lint
        entry: shellcheck
        language: system
        types: [shell]

fix(nvim): session plugin autoremove condition
  .config/nvim/lua/plugin/session.lua
Due: .config/nvim

fix(nvim): only exclude fzf-lua temp terminal buffer in session plugin
  .config/nvim/lua/plugin/session.lua
Due: .config/nvim

fix(vim,nvim): `gy` not working with custom textobjects, e.g. `af`, `az`
  .config/nvim/lua/core/keymaps.lua
  .vimrc
Due: .config/nvim

refactor(nvim)!: use `yd` instead of `dy` to yank current line diagnostic
  .config/nvim/lua/core/diagnostic.lua
Due: .config/nvim

feat(vim,nvim): allow buffer-local rules for joining lines on yank
  .config/nvim/after/ftplugin/markdown/opts.lua
  .config/nvim/after/ftplugin/text.lua
  .config/nvim/lua/core/keymaps.lua
  .vimrc
Due: .config/nvim

refactor(vim): use vararg `...` in `s:supportevents()`
  .vimrc
Due: none

feat(vscode): ignore extension recommendations
  .config/Code/User/settings.json
Due: none

fix(bin): silent error in `__syncbg` when prev bg file is not created
  .bin/__syncbg
Due: .bin

feat(bin): add scripts `get/set/synccolor` to sync with system colorscheme
  .bin/getcolor
  .bin/setcolor
  .bin/synccolor
Due: .bin

feat(kde): automatically sync app's color with system/desktop color
  .bin/__synccolor
  .config/autostart/__synccolor.desktop
Due: .bin

fix(bin): don't make symlinks if source not available in `setbg/color`
  .bin/setbg
  .bin/setcolor
Due: .bin

fix(nvim): small fzf-lua window when opencode and quickfix windows exist
  .config/nvim/lua/configs/fzf-lua.lua
  .config/nvim/lua/plugins/tools.lua
Due: .config/nvim

refactor(bin): add script `whereami` to get current location (latitude, longitude)
  .bin/suggestbg
  .bin/whereami
Due: .bin

feat(nvim): add java snippets
  .config/nvim/lua/snippets/java.lua
Due: .config/nvim

feat(nvim): add jdtls lsp config
  .config/nvim/after/lsp/jdtls.lua
Due: .config/nvim

fix(nvim): error when dap config is empty
  .config/nvim/lua/configs/nvim-dap.lua
Due: .config/nvim

feat(nvim): add dap configs for java
  .config/nvim/after/lsp/jdtls.lua
  .config/nvim/lua/dap-configs/java.lua
Due: .config/nvim

refactor(nvim): move 3rd-party plugin ft configs to `lua/configs/<plugin_name>/...`
  .config/nvim/README.md
  .config/nvim/lua/configs/luasnip.lua
  .config/nvim/lua/configs/luasnip/snippets/all.lua
  .config/nvim/lua/configs/luasnip/snippets/bash.lua
  .config/nvim/lua/configs/luasnip/snippets/c.lua
  .config/nvim/lua/configs/luasnip/snippets/cpp.lua
  .config/nvim/lua/configs/luasnip/snippets/cuda.lua
  .config/nvim/lua/configs/luasnip/snippets/fish.lua
  .config/nvim/lua/configs/luasnip/snippets/go.lua
  .config/nvim/lua/configs/luasnip/snippets/html.lua
  .config/nvim/lua/configs/luasnip/snippets/java.lua
  .config/nvim/lua/configs/luasnip/snippets/javascript.lua
  .config/nvim/lua/configs/luasnip/snippets/latex
  .config/nvim/lua/configs/luasnip/snippets/lua.lua
  .config/nvim/lua/configs/luasnip/snippets/markdown.lua
  .config/nvim/lua/configs/luasnip/snippets/markdown_inline.lua
  .config/nvim/lua/configs/luasnip/snippets/python.lua
  .config/nvim/lua/configs/luasnip/snippets/sh.lua
  .config/nvim/lua/configs/luasnip/snippets/tex/init.lua
  .config/nvim/lua/configs/luasnip/snippets/tex/math.lua
  .config/nvim/lua/configs/luasnip/snippets/typescript.lua
  .config/nvim/lua/configs/luasnip/snippets/vim.lua
  .config/nvim/lua/configs/nvim-dap.lua
  .config/nvim/lua/configs/nvim-dap/dap/bash.lua
  .config/nvim/lua/configs/nvim-dap/dap/c.lua
  .config/nvim/lua/configs/nvim-dap/dap/cpp.lua
  .config/nvim/lua/configs/nvim-dap/dap/go.lua
  .config/nvim/lua/configs/nvim-dap/dap/java.lua
  .config/nvim/lua/configs/nvim-dap/dap/lua.lua
  .config/nvim/lua/configs/nvim-dap/dap/python.lua
  .config/nvim/lua/configs/nvim-dap/dap/sh.lua
  .config/nvim/lua/configs/vim-projectionist.lua
  .config/nvim/lua/configs/vim-projectionist/projections/c.lua
  .config/nvim/lua/configs/vim-projectionist/projections/cpp.lua
  .config/nvim/lua/configs/vim-projectionist/projections/go.lua
  .config/nvim/lua/configs/vim-projectionist/projections/lua.lua
  .config/nvim/lua/configs/vim-projectionist/projections/python.lua
  .config/nvim/lua/configs/vim-test.lua
  .config/nvim/lua/configs/vim-test/tests/go.lua
  .config/nvim/lua/configs/vim-test/tests/python.lua
Due: .config/nvim

fix(nvim): jdtls not started for the 1st java file
  .config/nvim/init.lua
  .config/nvim/lua/core/lsp.lua
Due: .config/nvim

chore(nvim): correct vimtex config comments
  .config/nvim/lua/configs/vimtex.lua
Due: .config/nvim

refactor(nvim): use `utils.load.on_events()` to lazy-load plugin/configs
  .config/nvim/init.lua
  .config/nvim/lua/core/opts.lua
  .config/nvim/lua/plugins/markup.lua
  .config/nvim/lua/utils/load.lua
  .config/nvim/plugin/_load.lua
Due: .config/nvim

chore(nvim): fix fzf-lua config comments about window resizing
  .config/nvim/lua/configs/fzf-lua.lua
Due: .config/nvim

fix(nvim): small fzf-lua window when opencode and quickfix windows exist (again)
  .config/nvim/lua/configs/fzf-lua.lua
Due: .config/nvim

feat(bin): echo reply from http://ipinfo.io/loc on fail
  .bin/whereami
Due: .bin

style(bin): format with shfmt
  .bin/getcolor
  .bin/setbg
  .bin/whereami
Due: .bin

feat(bin,kde): check and set desktop bg periodically
  .bin/__checkbg
  .bin/__checkbg_watch_awake
  .bin/checkbg
  .bin/setbg
  .config/autostart/__checkbg.desktop
Due: .bin

fix(kde): don't autostart `checkbg` to avoid changing bg with conflict
  .config/autostart/checkbg.desktop
Due: none

fix(vim,nvim): paragraphs are wrongly joined together with `gy`
  .config/nvim/lua/core/keymaps.lua
  .vimrc
Due: .config/nvim

feat(nvim): support different pytest runners, e.g. `uv run`
  .config/nvim/after/compiler/pytest.vim
Due: .config/nvim

refactor(bin,kde): increase bg check interval to 60s
  .bin/__checkbg
Due: .bin

refactor(bin): report dark/light bg using sun degree 8 in `suggestbg`
  .bin/suggestbg
Due: .bin

fix(nvim): 2nd window not init by colorcolumn plugin with `nvim -O`
  .config/nvim/plugin/colorcolumn.lua
Due: .config/nvim

refactor(nvim): clean up winbar `bar.enable` config
  .config/nvim/lua/plugin/winbar/configs.lua
Due: .config/nvim

refactor(nvim): remove padding before return values in go snippets
  .config/nvim/lua/configs/luasnip/snippets/go.lua
Due: .config/nvim

feat(nvim): add `main` func snippets for filetypes
  .config/nvim/lua/configs/luasnip/snippets/fish.lua
  .config/nvim/lua/configs/luasnip/snippets/javascript.lua
  .config/nvim/lua/configs/luasnip/snippets/lua.lua
  .config/nvim/lua/configs/luasnip/snippets/sh.lua
  .config/nvim/lua/configs/luasnip/snippets/vim.lua
Due: .config/nvim

refactor(nvim): use insert node for go `main` func snippet
  .config/nvim/lua/configs/luasnip/snippets/go.lua
Due: .config/nvim

refactor(nvim): quote complex opt settings with `do...end` block
  .config/nvim/lua/core/opts.lua
Due: .config/nvim

feat(vim,nvim): don't set hard `textwidth=79`; use dynamic `colorcolumn`
  .config/nvim/after/ftplugin/markdown/opts.lua
  .config/nvim/lua/core/autocmds.lua
  .config/nvim/lua/core/opts.lua
  .vimrc
Due: .config/nvim

fix(vim,nvim): dynamic `cc` with multiple wins with same buf or new bufs
  .config/nvim/lua/core/autocmds.lua
  .vimrc
Due: .config/nvim

feat(nvim): add lsp config for terraform linter/formatter
  .config/nvim/after/lsp/terraform.lua
Due: .config/nvim
