Repository Bekaboo/dot: changes, and which pre-commit hooks are due for each by the changed paths.
All: .config/nvim, .config/fish, .bin

.pre-commit-config.yaml:

#vim:ft=yaml:sw=2:sts=2:

repos:
  # Prevent secret leak in commits
  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.24.2
    hooks:
      - id: gitleaks

  # Dotfiles repo can be considered as a monorepo, sub-configs can have their
  # own pre-commit configs in corresponding sub-directories
  #
  # Pre-commit config file in sub-dirs must not be named with
  # `.pre-commit-config`, else pre-commit will fail with
  # 'Your pre-commit configuration is unstaged.'
  - repo: local
    hooks:
      - id: .config/nvim
        name: Hooks for neovim config
        entry: sh -c 'cd .config/nvim && pre-commit run -c .pre-commit-config.local.yaml && cd -'
        language: system
        files: ^\.config/nvim/
        verbose: true

      - id: .config/fish
        name: Hooks for fish config
        entry: sh -c 'cd .config/fish && pre-commit run -c .pre-commit-config.local.yaml && cd -'
        language: system
        files: ^\.config/fish/
        verbose: true

      - id: .bin
        name: Hooks for sh scripts under .bin
        entry: sh -c 'cd .bin && pre-commit run -c .pre-commit-config.local.yaml && cd -'
        language: system
        files: ^\.bin/
        verbose: true

      # Lint and format shell scripts under home directory
      - id: sh-format
        name: Shell script format
        entry: shfmt -w
        language: system
        types: [shell]

      - id: sh-lint
        name: Shell script lint
        entry: shellcheck
        language: system
        types: [shell]

feat(kde,krohnkite): don't tile QQ image window
  .config/kwinrc
Due: none

feat(tmux): use streaming in tmux trans popup
  .bin/tmux-trans-popup
Due: .bin

feat(nvim): set ft to follow src buffer in trans popup
  .config/nvim/lua/my/plugin/trans.lua
Due: .config/nvim

fix(nvim): not targeting symbolic refs (branches) in `:G branch` buffers
  .config/nvim/lua/my/pack/specs/opt/vim-fugitive.lua
Due: .config/nvim

feat(tmux): preserve indent in trans popup
  .bin/tmux-trans-popup
Due: .bin

chore(nvim): update nvim version
  .config/nvim/nvim-version.txt
Due: .config/nvim

fix(nvim): remove `<C-l>` custom keymap to make it clear multi-cursor
  .config/nvim/lua/my/core/keymaps.lua
Due: .config/nvim

feat(tmux): handle CJK punctuation around URIs
  .config/tmux/tmux.conf
Due: none

feat(markdownlint-cli2): add markdown tight list rule
  .config/markdownlint/tight-lists.cjs
  .markdownlint-cli2.cjs
Due: none

feat(markdownlint-cli2): allow single space after list bullet points
  .markdownlint-cli2.cjs
Due: none

fix(nvim): parse markdownlint-cli2 `%f:%l:%c` output
  .config/nvim/after/lsp/markdownlint-cli2.lua
Due: .config/nvim
