Repository Bekaboo/dot: changes, and which pre-commit hooks are due for each by the changed paths.
All: .config/nvim, .config/fish, .bin

.pre-commit-config.yaml:

#vim:ft=yaml:sw=2:sts=2:

repos:
  # Prevent secret leak in commits
  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.24.2
    hooks:
      - id: gitleaks

  # Dotfiles repo can be considered as a monorepo, sub-configs can have their
  # own pre-commit configs in corresponding sub-directories
  #
  # Pre-commit config file in sub-dirs must not be named with
  # `.pre-commit-config`, else pre-commit will fail with
  # 'Your pre-commit configuration is unstaged.'
  - repo: local
    hooks:
      - id: .config/nvim
        name: Hooks for neovim config
        entry: sh -c 'cd .config/nvim && pre-commit run -c .pre-commit-config.local.yaml && cd -'
        language: system
        files: ^\.config/nvim/
        verbose: true

      - id: .config/fish
        name: Hooks for fish config
        entry: sh -c 'cd .config/fish && pre-commit run -c .pre-commit-config.local.yaml && cd -'
        language: system
        files: ^\.config/fish/
        verbose: true

      - id: .bin
        name: Hooks for sh scripts under .bin
        entry: sh -c 'cd .bin && pre-commit run -c .pre-commit-config.local.yaml && cd -'
        language: system
        files: ^\.bin/
        verbose: true

      # Lint and format shell scripts under home directory
      - id: sh-format
        name: Shell script format
        entry: shfmt -w
        language: system
        types: [shell]

      - id: sh-lint
        name: Shell script lint
        entry: shellcheck
        language: system
        types: [shell]

refactor(git)!: rename alias 'pk' -> 'cp'
  .gitconfig
Due: none

refactor(git): rename git filter 'vscode-theme' to 'vscode-settings'
  .gitattributes
  .gitconfig
Due: none

chore(nvim): update plugins
  .config/nvim/nvim-pack-lock.json
Due: .config/nvim

feat(nvim): add varients for 'now' snippet
  .config/nvim/lua/my/pack/res/luasnip/snippets/all.lua
Due: .config/nvim

feat(git): add alias 'lp' for `log -p`
  .gitconfig
Due: none

feat(git): add alias 'bc' to list branches containing given commit
  .gitconfig
Due: none

feat(nvim)!: use `<Leader>gb` for `:Git branch -v`, not git blame
  .config/nvim/lua/my/pack/specs/opt/gitsigns.lua
  .config/nvim/lua/my/pack/specs/opt/vim-fugitive.lua
Due: .config/nvim

feat(nvim): add keymap `<Leader>gc` for `:Git commit`
  .config/nvim/lua/my/pack/specs/opt/vim-fugitive.lua
Due: .config/nvim

feat(nvim): lively enter file globs and filter commits in `fzf.git_ff`
  .config/nvim/lua/my/pack/specs/start/fzf-lua.lua
Due: .config/nvim

fix(nvim): fix warnings from lua-language-server in fzf-lua config
  .config/nvim/lua/my/pack/specs/start/fzf-lua.lua
Due: .config/nvim

feat(git): add alias 'gm' to match commit msgs across all branches
  .gitconfig
Due: none

feat(git)!: use extended regex in alias 'gm'
  .gitconfig
Due: none

feat(nvim): add fzf-lua funcs & keymaps for git 'ff', 'gr', and 'gm'
  .config/nvim/lua/my/pack/specs/start/fzf-lua.lua
Due: .config/nvim

feat(git): show grep matched files and lines in git 'gr' alias
  .gitconfig
Due: none

feat(git): show files stat in 'ff' alias
  .gitconfig
Due: none

feat(git)!: grep regex instead of plain text in alias 'gr'
  .gitconfig
Due: none

feat(nvim): show matched files/lines in fzf-lua `git_ff`/`git_gr`
  .config/nvim/lua/my/pack/specs/start/fzf-lua.lua
Due: .config/nvim

docs(nvim): add typing preferences in `AGENTS.md`
  .config/nvim/AGENTS.md
Due: .config/nvim

fix(nvim): list git branches without `-v` in fugitive
  .config/nvim/lua/my/pack/specs/opt/vim-fugitive.lua
Due: .config/nvim

feat(nvim): add commands `:Gitgr`/`:Ggr` to match text in a line range
  .config/nvim/lua/my/pack/specs/opt/vim-fugitive.lua
  .config/nvim/lua/my/utils/win.lua
Due: .config/nvim

feat(nvim): add commands `:Gitll`/`:Gll` to show logs for a line range
  .config/nvim/lua/my/pack/specs/opt/vim-fugitive.lua
Due: .config/nvim

feat(nvim): place cursor at current branch in fugitive branches list
  .config/nvim/lua/my/pack/specs/opt/vim-fugitive.lua
Due: .config/nvim

fix(nvim): prevent `:TestYank` from affecting `:TestLast`
  .config/nvim/lua/my/pack/specs/opt/vim-test.lua
Due: .config/nvim

feat(qoder): link opencode `dotfile-management` and `git-commit-message` skills
  .qoder/skills/dotfile-management
  .qoder/skills/git-commit-message
Due: none

feat(qoder): link opencode `AGENTS.md`
  .qoder/AGENTS.md
Due: none

fix(bin): `setbg` does not set nvim bg occasionally on macOS
  .bin/nvim-socks
  .bin/setbg
Due: .bin

refactor(codex,opencode): normalize skills placement and structure
  .codex/skills/git-commit-message
  .codex/skills/git-commit-message/SKILL.md
  .config/opencode/skills/dotfile-management/agents/openai.yaml
  .config/opencode/skills/git-commit-message/agents/openai.yaml
Due: none

feat(codex,opencode,qoder): add drawio-paper-figure skill
  .codex/skills/drawio-paper-figure
  .config/opencode/skills/drawio-paper-figure/SKILL.md
  .config/opencode/skills/drawio-paper-figure/agents/openai.yaml
  .qoder/skills/drawio-paper-figure
Due: none

feat(markdownlint-cli2): disable rule MD041 (H1 heading)
  .markdownlint-cli2.cjs
Due: none

feat(nvim): honor `~/.markdownlint-cli2.cjs` config if it exists
  .config/nvim/after/lsp/markdownlint-cli2.lua
Due: .config/nvim

feat(git): add aliases 'wt', 'wta' for `git worktree (add)`
  .gitconfig
Due: none

fix(bin): sync nvim bg asynchronously
  .bin/setbg
Due: .bin

fix(bin): nvim-socks not printing nvim socks on linux
  .bin/nvim-socks
Due: .bin

feat(opencode): prevent inline imports and defensive coding in `AGENTS.md`
  .config/opencode/AGENTS.md
Due: none

feat(systemd): add user systemd server mihomo (vpn)
  .config/systemd/user/mihomo.service
Due: none

fix(nvim): make `:GBrowse` copy link to exact commit in `:G show` bufs
  .config/nvim/lua/my/pack/specs/opt/vim-fugitive.lua
Due: .config/nvim

feat(nvim): make fugitive ops work in `:Git` output buffers
  .config/nvim/lua/my/pack/specs/opt/vim-fugitive.lua
Due: .config/nvim

feat(git): use 'pf' for `git push --force-with-lease`
  .gitconfig
Due: none

fix(nvim): consistently go to prev/next markdown section with `[[`/`]]`
  .config/nvim/after/ftplugin/markdown/opts.lua
Due: .config/nvim
