Repository Bekaboo/dot: changes, and which pre-commit hooks are due for each by the changed paths.
All: .config/nvim, .config/fish, .bin

.pre-commit-config.yaml:

#vim:ft=yaml:sw=2:sts=2:

repos:
  # Prevent secret leak in commits
  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.24.2
    hooks:
      - id: gitleaks

  # Dotfiles repo can be considered as a monorepo, sub-configs can have their
  # own pre-commit configs in corresponding sub-directories
  #
  # Pre-commit config file in sub-dirs must not be named with
  # `.pre-commit-config`, else pre-commit will fail with
  # 'Your pre-commit configuration is unstaged.'
  - repo: local
    hooks:
      - id: .config/nvim
        name: Hooks for neovim config
        entry: sh -c 'cd .config/nvim && pre-commit run -c .pre-commit-config.local.yaml && cd -'
        language: system
        files: ^\.config/nvim/
        verbose: true

      - id: .config/fish
        name: Hooks for fish config
        entry: sh -c 'cd .config/fish && pre-commit run -c .pre-commit-config.local.yaml && cd -'
        language: system
        files: ^\.config/fish/
        verbose: true

      - id: .bin
        name: Hooks for sh scripts under .bin
        entry: sh -c 'cd .bin && pre-commit run -c .pre-commit-config.local.yaml && cd -'
        language: system
        files: ^\.bin/
        verbose: true

      # Lint and format shell scripts under home directory
      - id: sh-format
        name: Shell script format
        entry: shfmt -w
        language: system
        types: [shell]

      - id: sh-lint
        name: Shell script lint
        entry: shellcheck
        language: system
        types: [shell]

fix(nvim): remove deprecated `BufModifiedSet`, use `OptionSet`+`pattern=modified` instead
  .config/nvim/plugin/intro.lua
Due: .config/nvim

fixup! feat(nvim): support specifying event pattern in winbar config
  .config/nvim/lua/my/plugin/winbar/sources/lsp.lua
Due: .config/nvim

chore(nvim): update nvim & plugins
  .config/nvim/nvim-pack-lock.json
  .config/nvim/nvim-version.txt
Due: .config/nvim

refactor(nvim): remove `redrawstatus` hack in which-key config
  .config/nvim/lua/my/pack/specs/opt/which-key.lua
Due: .config/nvim

fix(nvim): statusline flicker in nvim v0.13
  .config/nvim/lua/my/plugin/statusline.lua
Due: .config/nvim

refactor(nvim): `opts.jump.float` in diagnostic config is deprecated
  .config/nvim/lua/my/core/diagnostic.lua
Due: .config/nvim

refactor(nvim): `vim.F.npcall()` is deprecated
  .config/nvim/after/ftplugin/markdown/codeblock.lua
  .config/nvim/lua/my/pack/specs/opt/molten-nvim.lua
  .config/nvim/lua/my/pack/specs/opt/ultimate-autopair.lua
  .config/nvim/lua/my/pack/specs/start/oil.lua
  .config/nvim/lua/my/plugin/winbar/sources/treesitter.lua
  .config/nvim/lua/my/plugin/winbar/utils/init.lua
Due: .config/nvim

refactor(nvim): `vim.highlight.on_yank()` is deprecated
  .config/nvim/lua/my/core/autocmds.lua
Due: .config/nvim

feat(nvim): highlight text on `TextPutPost`
  .config/nvim/lua/my/core/autocmds.lua
Due: .config/nvim

refactor(nvim): rename augroup `my.auto_save` to `my.auto_write`
  .config/nvim/lua/my/core/autocmds.lua
Due: .config/nvim

feat(sh,bash,fish): improve portable apps `$PATH` registration
  .config/fish/conf.d/00-login.fish
  .profile
Due: .config/fish

fix(nvim): invalid buffer id setting diagnostic info in statusline
  .config/nvim/lua/my/plugin/statusline.lua
Due: .config/nvim

chore(nvim): update plugins
  .config/nvim/nvim-pack-lock.json
Due: .config/nvim

fix(nvim): quickfix/loclist not closed when fzf-lua opens
  .config/nvim/lua/my/pack/specs/start/fzf-lua.lua
Due: .config/nvim

fix(nvim): markdown list indentation not aligned
  .config/nvim/indent/markdown.vim
Due: .config/nvim

feat(nvim): link `StatusLineGitBranch` to `hl-Comment`
  .config/nvim/lua/my/plugin/statusline.lua
Due: .config/nvim

docs(nvim): fix non-existing paths in nvim config
  .config/nvim/README.md
Due: .config/nvim

feat(nvim): add commands `:Lsp {enable,disable}`
  .config/nvim/lua/my/plugin/lsp-commands.lua
Due: .config/nvim

feat(nvim)!: remove command abbreviations 'lsp' -> 'Lsp', 'diagnostic' -> 'Diagnostic'
  .config/nvim/lua/my/plugin/lsp-commands.lua
Due: .config/nvim

fix(nvim): `:Lsp enable` subcommand not in completions
  .config/nvim/lua/my/plugin/lsp-commands.lua
Due: .config/nvim

refactor(nvim): rename `cmp()` -> `cmp_sessions()`, `cmd()` -> `cmd_dir2session()`
  .config/nvim/lua/my/plugin/session.lua
Due: .config/nvim

feat(nvim): add `:Restart` command to restore current session after restarting
  .config/nvim/lua/my/plugin/session.lua
Due: .config/nvim

refactor(nvim): clean up session plugin notify logic
  .config/nvim/lua/my/plugin/session.lua
Due: .config/nvim

fix(nvim): invalid buffer error in loader
  .config/nvim/lua/my/utils/load.lua
Due: .config/nvim

style(nvim): format with stylua
  .config/nvim/lua/my/plugin/lsp-commands.lua
Due: .config/nvim

fix(nvim): suppress errors loading session after restarting
  .config/nvim/lua/my/plugin/session.lua
Due: .config/nvim

fix(tmux,vim,nvim): false positive detecting foreground tui apps
  .config/nvim/lua/my/utils/term.lua
  .config/tmux/tmux.conf
  .vimrc
Due: .config/nvim

revert: "feat(macos)!: don't swap option with command"
  .bin/macos-keymap
Due: .bin

fix(fish): avoid fzf.fish keybinding conflict
  .config/fish/conf.d/51-fzf-bindings.fish
Due: .config/fish

feat(skhd): change bsp layout hotkey to `cmd+shift+alt-2`
  .config/skhd/skhdrc
Due: none

feat(nvim)!: prevent calling multiple lsp clients for rename
  .config/nvim/lua/my/core/lsp.lua
  .config/nvim/lua/my/utils/lsp.lua
Due: .config/nvim

feat(nvim): enable bash-language-server and shfmt in both sh & bash
  .config/nvim/after/lsp/bash-language-server.lua
  .config/nvim/after/lsp/shfmt.lua
Due: .config/nvim

feat(nvim): add lsp config for shellcheck linter
  .config/nvim/after/lsp/shellcheck.lua
Due: .config/nvim

refactor(bin): extract `getcursorpos` from `fzf-wrapper`
  .bin/fzf-wrapper
  .bin/getcursorpos
Due: .bin

chore(bin,fish)!: remove script `trans2zh`
  .bin/trans2zh
  .config/fish/completions/trans2zh.fish
Due: .config/fish, .bin

feat(tmux): add keybinding `C-t` to translate selected text
  .bin/tmux-trans-popup
  .config/tmux/tmux.conf
Due: .bin

feat(bin): add script `trans` to translate using openai-compatible api
  .bin/trans
  .config/fish/completions/trans.fish
Due: .config/fish, .bin

feat(bin): add translation pair (`-p`/`--pair`) to script `trans`
  .bin/trans
  .config/fish/completions/trans.fish
Due: .config/fish, .bin

feat(bin)!: add flag `-` for `trans` to read from stdin
  .bin/tmux-trans-popup
  .bin/trans
  .config/fish/completions/trans.fish
Due: .config/fish, .bin

chore(bin): add func param comments for `trans`
  .bin/trans
Due: .bin
