Repository Bekaboo/dot: changes, and which pre-commit hooks are due for each by the changed paths.
All: .config/nvim, .config/fish, .bin

.pre-commit-config.yaml:

#vim:ft=yaml:sw=2:sts=2:

repos:
  # Prevent secret leak in commits
  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.24.2
    hooks:
      - id: gitleaks

  # Dotfiles repo can be considered as a monorepo, sub-configs can have their
  # own pre-commit configs in corresponding sub-directories
  #
  # Pre-commit config file in sub-dirs must not be named with
  # `.pre-commit-config`, else pre-commit will fail with
  # 'Your pre-commit configuration is unstaged.'
  - repo: local
    hooks:
      - id: .config/nvim
        name: Hooks for neovim config
        entry: sh -c 'cd .config/nvim && pre-commit run -c .pre-commit-config.local.yaml && cd -'
        language: system
        files: ^\.config/nvim/
        verbose: true

      - id: .config/fish
        name: Hooks for fish config
        entry: sh -c 'cd .config/fish && pre-commit run -c .pre-commit-config.local.yaml && cd -'
        language: system
        files: ^\.config/fish/
        verbose: true

      - id: .bin
        name: Hooks for sh scripts under .bin
        entry: sh -c 'cd .bin && pre-commit run -c .pre-commit-config.local.yaml && cd -'
        language: system
        files: ^\.bin/
        verbose: true

      # Lint and format shell scripts under home directory
      - id: sh-format
        name: Shell script format
        entry: shfmt -w
        language: system
        types: [shell]

      - id: sh-lint
        name: Shell script lint
        entry: shellcheck
        language: system
        types: [shell]

refactor(tmux): remove bindings `!`/`@` for switching windows
  .config/tmux/tmux.conf
Due: none

fix(nvim): plugin colorcolumn hl not updated when bg changes
  .config/nvim/plugin/colorcolumn.lua
Due: .config/nvim

refactor(nvim): load `core.lsp` on `FileType` only
  .config/nvim/init.lua
Due: .config/nvim

fix(nvim): blink-cmp config error when `pumwidth/height` is unset
  .config/nvim/lua/pack/specs/opt/blink-cmp.lua
Due: .config/nvim

refactor(nvim): don't schedule event-retriggering in loading
  .config/nvim/lua/core/treesitter.lua
  .config/nvim/lua/utils/load.lua
Due: .config/nvim

feat(nvim): enable metals lsp for sbt and sc filetypes
  .config/nvim/after/lsp/metals.lua
Due: .config/nvim

refactor(vim,nvim): don't make `cc` follow `tw` if `cc` is empty
  .config/nvim/lua/core/autocmds.lua
  .vimrc
Due: .config/nvim

fix(nvim,vscode): colorcolumn rendering in vscode
  .config/nvim/autoload/plugin/vscode.vim
Due: .config/nvim

refactor(nvim,vscode): cleanup vscode-neovim settings
  .config/nvim/autoload/plugin/vscode.vim
  .config/nvim/lua/utils/lsp.lua
Due: .config/nvim

fix(nvim): metals completion etc. not working, switching to nvim-metals
  .config/nvim/after/lsp/metals.lua
  .config/nvim/lua/pack/specs/opt/nvim-metals.lua
  .config/nvim/nvim-pack-lock.json
Due: .config/nvim

feat(nvim): add metals dap config
  .config/nvim/lua/pack/specs/opt/nvim-metals.lua
Due: .config/nvim

fix(nvim): `utils.load.on_events` event pattern handling
  .config/nvim/lua/utils/load.lua
Due: .config/nvim

docs(nvim): don't list all 3rd party plugins manually in README
  .config/nvim/README.md
Due: .config/nvim

fix(nvim): which-key not loaded
  .config/nvim/lua/pack/specs/opt/which-key.lua
Due: .config/nvim

feat(tmux,vim,nvim): add ssh tui app to use escape in remote vim
  .config/nvim/lua/utils/term.lua
  .config/tmux/tmux.conf
  .vimrc
Due: .config/nvim

fix(konsole): onedark light profile settings
  .local/share/konsole/Onedark Light.profile
Due: none

refactor(nvim): simplify initialization in `core.treesitter`
  .config/nvim/lua/core/treesitter.lua
Due: .config/nvim

perf(nvim): fix luasnip version check performance issue
  .config/nvim/lua/pack/specs/opt/luasnip.lua
  .config/nvim/lua/utils/lua.lua
Due: .config/nvim

chore(nvim): fix typing in luasnip config
  .config/nvim/lua/pack/specs/opt/luasnip.lua
Due: .config/nvim

fix(nvim): prefer snippet over tabout jump with direction differs
  .config/nvim/lua/pack/specs/opt/luasnip.lua
Due: .config/nvim

fix(nvim): additional param passed to `utils.stl.hl()`
  .config/nvim/lua/plugin/statuscolumn.lua
Due: .config/nvim

chore(nvim): rename `winbar.sources.lsp.range` to `lsp.range` and move def to `utils.lsp`
  .config/nvim/lua/pack/specs/opt/luasnip.lua
  .config/nvim/lua/plugin/winbar/sources/lsp.lua
  .config/nvim/lua/utils/lsp.lua
Due: .config/nvim

chore(nvim): stricter typing in luasnip config
  .config/nvim/lua/pack/specs/opt/luasnip.lua
Due: .config/nvim

fix(bin,fish): raw bytes `__fish_reload_theme` causes error in wsl
  .bin/setbg
  .bin/setcolor
Due: .bin

fix(fzf): compat with older fzf versions (does not have `--gutter` opt)
  .config/fish/conf.d/fzf.fish
  .profile
Due: .config/fish

fix(nvim): success msg shown when pkg build failed
  .config/nvim/lua/utils/pack.lua
Due: .config/nvim

fix(fish): load plugins bootstrap last to apply plugin configs
  .config/fish/conf.d/50-abbr.fish
  .config/fish/conf.d/50-autols.fish
  .config/fish/conf.d/50-bat.fish
  .config/fish/conf.d/50-fish-ai.fish
  .config/fish/conf.d/50-fzf.fish
  .config/fish/conf.d/50-osc133.fish
  .config/fish/conf.d/50-postexec-newline.fish
  .config/fish/conf.d/50-pyenv.fish
  .config/fish/conf.d/50-python.fish
  .config/fish/conf.d/50-rg.fish
  .config/fish/conf.d/50-theme.fish
  .config/fish/conf.d/50-zoxide.fish
  .config/fish/conf.d/99-plugins.fish
Due: .config/fish

feat(fish): add keymap settings to `fish-ai.ini`
  .config/fish-ai.ini
Due: none

fix(nvim): suppress warning when blink.cmp build failed on wsl
  .config/nvim/lua/pack/specs/opt/blink-cmp.lua
Due: .config/nvim

style(nvim): format with stylua
  .config/nvim/lua/pack/specs/opt/which-key.lua
Due: .config/nvim

fix(bash,fish): set default value for `$DOT_DIR`
  .config/fish/conf.d/00-login.fish
  .profile
Due: .config/fish

refactor(nvim): simplify `utils.pack.build` and fix type warnings
  .config/nvim/lua/utils/pack.lua
Due: .config/nvim

perf(nvim): enable async ts parsing for insert mode smoothness
  .config/nvim/lua/core/treesitter.lua
Due: .config/nvim

refactor(nvim): follow fzf default gutter and bg settings from shell
  .config/nvim/lua/pack/specs/start/fzf-lua.lua
Due: .config/nvim

refactor(nvim): remove all telescope hl linkage in fzf config
  .config/nvim/lua/pack/specs/start/fzf-lua.lua
Due: .config/nvim

fix(nvim): onedark colorscheme `hl-FloatTitle` bg not matching float bg
  .config/nvim/lua/pack/specs/start/onedark.lua
Due: .config/nvim

chore(nvim): update plugins
  .config/nvim/nvim-pack-lock.json
Due: .config/nvim

refactor(nvim): simplify statusline hl bg setup
  .config/nvim/lua/plugin/statusline.lua
Due: .config/nvim

fix(tmux): `M-W` forwarding
  .config/tmux/tmux.conf
Due: none

refactor(nvim)!: use `gs` keymap prefix for text split/join/swap actions
  .config/nvim/lua/pack/specs/opt/nvim-treesitter-textobjects.lua
  .config/nvim/lua/pack/specs/opt/treesj.lua
  .config/nvim/lua/pack/specs/opt/which-key.lua
Due: .config/nvim
