Repository Bekaboo/dot: changes, and which pre-commit hooks are due for each by the changed paths.
All: .config/nvim, .config/fish, .bin

.config/nvim:
  name: Hooks for neovim config
  entry: sh -c 'cd .config/nvim && pre-commit run -c .pre-commit-config.local.yaml && cd -'
  language: system
  verbose: true

.config/fish:
  name: Hooks for fish config
  entry: sh -c 'cd .config/fish && pre-commit run -c .pre-commit-config.local.yaml && cd -'
  language: system
  verbose: true

.bin:
  name: Hooks for sh scripts under .bin
  entry: sh -c 'cd .bin && pre-commit run -c .pre-commit-config.local.yaml && cd -'
  language: system
  verbose: true

chore(fish): fix typo
  .config/fish/conf.d/50-fzf.fish
Due: .config/fish

refactor(tmux)!: use `M-C-...` not `M-S-...` for tmux root bindings
  .config/tmux/tmux.conf
Due: none

fix(fish): fzf custom bindings undefined after loading plugin
  .config/fish/conf.d/25-abbr.fish
  .config/fish/conf.d/25-autols.fish
  .config/fish/conf.d/25-bat.fish
  .config/fish/conf.d/25-fish-ai.fish
  .config/fish/conf.d/25-fzf-envs.fish
  .config/fish/conf.d/25-osc133.fish
  .config/fish/conf.d/25-postexec-newline.fish
  .config/fish/conf.d/25-pyenv.fish
  .config/fish/conf.d/25-python.fish
  .config/fish/conf.d/25-rg.fish
  .config/fish/conf.d/25-theme.fish
  .config/fish/conf.d/25-zoxide.fish
  .config/fish/conf.d/50-fzf.fish
  .config/fish/conf.d/50-plugins.fish
  .config/fish/conf.d/51-fzf-bindings.fish
Due: .config/fish

feat(tmux): add ssh as 'vim' app to allow `M-` bindings in vim over ssh
  .config/tmux/tmux.conf
Due: none

fix(fish): fzf bindings conflict with tmux's
  .config/fish/conf.d/51-fzf-bindings.fish
Due: .config/fish

feat(nvim): add which-key group hints for `gq` and `gr`
  .config/nvim/lua/pack/specs/opt/which-key.lua
Due: .config/nvim

fix(nvim): should set statusline hl with `default=true`
  .config/nvim/lua/plugin/statusline.lua
Due: .config/nvim

refactor(nvim): remove `utils.hl.set_default` (use `utils.hl.set`)
  .config/nvim/after/ftplugin/markdown/codeblock.lua
  .config/nvim/lua/core/autocmds.lua
  .config/nvim/lua/pack/specs/opt/opencode.lua
  .config/nvim/lua/pack/specs/start/fzf-lua.lua
  .config/nvim/lua/utils/hl.lua
Due: .config/nvim

fix(nvim): quicker.nvim not loaded
  .config/nvim/lua/pack/specs/opt/quicker.lua
Due: .config/nvim

fix(nvim): shadowing upvalue `fallback_tbl` in `plugin.tabout`
  .config/nvim/lua/plugin/tabout.lua
Due: .config/nvim

refactor(nvim)!: remove unused global vars
  .config/nvim/lua/core/opts.lua
Due: .config/nvim

refactor(nvim): hide fzf gutter
  .config/nvim/lua/pack/specs/start/fzf-lua.lua
Due: .config/nvim

feat(kde): set 'Sound' as default wallpaper for onedark theme
  .bin/setcolor
Due: .bin

fix(kde,krohnkite): allow floating window to be covered by tiled windows
  .config/kwinrc
Due: none

chore(nvim): fix typing `utils.key.with_cursorpos/lazyredraw`
  .config/nvim/lua/utils/key.lua
Due: .config/nvim

refactor(nvim): simplify initialization in `core.treesitter`
  .config/nvim/lua/core/treesitter.lua
Due: .config/nvim

feat(nvim): add auto snippet trigger '`' for '\texttt' tex snippet
  .config/nvim/lua/pack/res/luasnip/snippets/tex.lua
Due: .config/nvim

chore(nvim): fix typing in luasnip config
  .config/nvim/lua/pack/specs/opt/luasnip.lua
Due: .config/nvim

fix(nvim): success msg shown when pkg build failed
  .config/nvim/lua/utils/pack.lua
Due: .config/nvim

feat(nvim): add tex (auto-expanded) snippet for '\item'
  .config/nvim/lua/pack/res/luasnip/snippets/tex.lua
  .config/nvim/lua/utils/snip/conds.lua
  .config/nvim/lua/utils/snip/snips.lua
Due: .config/nvim

refactor(nvim): simplify statusline hl bg setup
  .config/nvim/lua/plugin/statusline.lua
Due: .config/nvim

feat(tmux,vim,nvim): add ssh tui app to use escape in remote vim
  .config/nvim/lua/utils/term.lua
  .config/tmux/tmux.conf
  .vimrc
Due: .config/nvim

fix(bin): `setbg` does not work with kde plasma onedark theme
  .bin/setbg
Due: .bin

fix(nvim): onedark colorscheme `hl-FloatTitle` bg not matching float bg
  .config/nvim/lua/pack/specs/start/onedark.lua
Due: .config/nvim

refactor(nvim)!: remove trig 'tt' for '\texttt' tex snippet
  .config/nvim/lua/pack/res/luasnip/snippets/tex.lua
Due: .config/nvim

chore(kde): update `kglobalshortcutsrc`
  .config/kglobalshortcutsrc
Due: none

fix(bin): check fish theme existence before linking in `setcolor`
  .bin/setcolor
Due: .bin

refactor(nvim): load `core.lsp` on `FileType` only
  .config/nvim/init.lua
Due: .config/nvim

fix(bash,fish): set default value for `$DOT_DIR`
  .config/fish/conf.d/00-login.fish
  .profile
Due: .config/fish

fix(nvim): which-key not loaded
  .config/nvim/lua/pack/specs/opt/which-key.lua
Due: .config/nvim

chore(nvim): rename `winbar.sources.lsp.range` to `lsp.range` and move def to `utils.lsp`
  .config/nvim/lua/pack/specs/opt/luasnip.lua
  .config/nvim/lua/plugin/winbar/sources/lsp.lua
  .config/nvim/lua/utils/lsp.lua
Due: .config/nvim

feat(nvim): add metals dap config
  .config/nvim/lua/pack/specs/opt/nvim-metals.lua
Due: .config/nvim

docs(nvim): don't list all 3rd party plugins manually in README
  .config/nvim/README.md
Due: .config/nvim

fix(nvim,vscode): colorcolumn rendering in vscode
  .config/nvim/autoload/plugin/vscode.vim
Due: .config/nvim

chore(nvim): update plugins
  .config/nvim/nvim-pack-lock.json
Due: .config/nvim

fix(nvim): `utils.ts.is_active()` returns false positive
  .config/nvim/lua/utils/ts.lua
Due: .config/nvim

feat(bash,fish): add alias/abbrev 'tf' -> 'terraform'
  .bashrc
  .config/fish/conf.d/abbr.fish
Due: .config/fish

fix(tmux): `M-W` forwarding
  .config/tmux/tmux.conf
Due: none

fix(kde): add wallpaper `metadata.desktop` files
  .local/share/wallpapers/Clouds/metadata.desktop
  .local/share/wallpapers/Fish/metadata.desktop
  .local/share/wallpapers/Foggy Forest/metadata.desktop
  .local/share/wallpapers/Mountains and Clouds/metadata.desktop
  .local/share/wallpapers/Quiet Night/metadata.desktop
  .local/share/wallpapers/Rain on Glass/metadata.desktop
Due: none

Path conditions:
  .config/nvim: any of: ^\.config/nvim/
  .config/fish: any of: ^\.config/fish/
  .bin: any of: ^\.bin/
